[2016-04-17 23:43] lepaff opened #1 "Plugin is not detected"
Hi,

thanks for this nice plugin.
I discovered one problem while deploying to my stage server.
The repository´s name is in CamelCase and was therefore not detected by Craft (2.6+).
Locally it worked fine on my mac but the server seems to be somewhat more strict regarding case sensitivity.
I forked your repo and simply renamed it to solve that.

Cheers,
Michael

[2016-04-18 11:06] Tam commented on #1
Thanks for letting us know! I've re-named the repo to all lower case, that should make everyones lives easier.

[2016-04-18 11:06] #1 closed

[2016-05-03 03:33] idahotallpaul opened #4 "Can the address be exported in components?"
Looks like right now the plugin exports lat, lng, zoom and address, but address is a string. Is there a way to grab address, city, state & zip individually? If the address was broken into its component parts the plugin would be perfect for what I need.

Thanks.

[2016-05-26 00:40] shornuk commented on #4
Agree. Would be a nice feature! +1 from me!

[2016-05-31 10:23] Tam commented on #4
Added in 56c07d8 (v1.1.1)

[2016-05-31 10:23] #4 closed

[2016-06-09 08:22] paul-frost opened #7 "No API key warning"
I'm getting a:
 "Google Maps API warning: NoApiKeys https://developers.google.com/maps/documentation/javascript/error-messages#no-api-keys"
in the console (whilst on the entry editing in the CP) even though I have added a key in the SimpleMap settings.

[2016-06-09 08:32] paul-frost opened #8 "Invisible map when in a secondary tab"
When I include the simplemap field type in a secondary tab in the field layout for the section the map is invisible (just grey box). The location bar updates if I drag the pin around, just no map tiles visible.
If I put the field on the primary tab it works fine.

I've had similar problems before with Google maps in ExpressionEngine where it didn't work in hidden tabs. The solution was that the ma

[2016-06-09 10:10] Tam commented on #7
The API key setting is for the server-side Google Maps Geocoding API (this allows the searching and sorting entries by location functionality). That warning is because we're not using an API key on the front-end Google Maps API which is *technically* allowed and means one less API key to worry about. If it becomes an issue in the future we'll a setting.

[2016-06-09 10:10] #7 closed

[2016-06-15 12:59] bomanden commented on #8
Have the same issue on craft 2.6.2xxx. I'll check back to see if this issue is fixed.
Would be nice to move it to another tab as it takes up space in the layout.

[2016-06-20 09:19] Tam commented on #8
Fixed in [v1.2.1](https://github.com/ethercreative/simplemap/releases/tag/v1.2.1)

[2016-06-20 09:19] #8 closed

[2016-06-24 08:45] patashe commented on #7
I'm getting "Google Maps API error: MissingKeyMapError" and "Google Maps API warning: NoApiKeys" when I have the following credentials set up in google and the Key saved in the plugin settings:

- Google Maps Geocoding API
- Google Maps JavaScript API

Is there something I'm missing?

[2016-06-28 12:30] Tam commented on #7
@patashe Fixed in v1.2.2

[2016-06-29 08:58] patashe commented on #7
thanks @Tam, that fixed the issue.

[2016-07-07 09:27] codebybrassneck opened #9 "Output Google Maps API key on front-end"
I just wondered if it was possible to get the API Key used by the settings out on the front-end in your twig templates? It'd be really useful, rather than having to store it in a separate field for use in your templates.

All the best,
Steve

[2016-07-07 10:27] Tam commented on #9
Added in v1.2.3

[2016-07-07 10:27] #9 closed

[2016-07-18 13:44] RachnaChohan opened #10 "Not outputting address / latitude & longitude"
When trying to add a address in the text field (that's provided) & saving it. The text field is still blank & looking at the console log its returning  data-latitude="0.00000000" data-longitude="0.00000000". The only time a address displays in the text field is when I physically grab the pin (on the map) and drag it to a location. Then there are values in the data-latitude & data-longitude. But th

[2016-08-04 21:26] swthate opened #11 "Q: How do I display the actual map on the front-end?"
Hi there,

This plugin looks like what I need: a simple, straight-forward Google Map field. I don't need all the bells and whistles that so many other plugins seem to have.

Having said that, I'm a little concerned as I haven't found a way to display my map on my entries' template. Is this plugin just for extracting data from the location set in the backend, or am I able to show the map itself?

S

[2016-08-08 13:13] Tam commented on #11
Hi @swthate,

The plugin returns an array containing `lat`, `lng`, and others (see [docs](https://github.com/ethercreative/simplemap#usage)). You can use these as the location for any front-end map library (e.g. [Google Maps](https://developers.google.com/maps/documentation/javascript/tutorial) or [Mapbox](https://www.mapbox.com/)).

Using Google Maps as an example:

[code]

And Mapbox:

[code]

[2016-08-08 13:13] #11 closed

[2016-08-08 13:18] Tam commented on #10
Hi @RachnaChohan,

Currently you need to press enter/return after pasting an address into the field to get the map to register a change. We'll fix this in a future release!

[2016-08-08 15:27] swthate commented on #11
ah-ha. Thanks a bunch, I'll give this a whirl!

[2016-08-09 09:36] Tam commented on #10
Fixed in [v1.2.4](https://github.com/ethercreative/simplemap/releases/tag/v1.2.4)

[2016-08-09 09:36] #10 closed

[2016-08-09 17:35] mikestecker opened #12 "Request: Option to hide map?"
I'd love an option to hide the map on the input field.

[2016-08-09 17:39] mikestecker opened #13 "Request: Restrict Autocomplete search by place type"
It would be great to be able to control the autocomplete a bit more by a way of restricting the autocomplete results... [this locate fieldtype](https://github.com/swixpop/craft-locate) handles it well.

Thanks!

[2016-08-11 23:27] mikestecker opened #14 "Request: Add short_name to parts"
Can you add the `short_name` from Google's `address_components` that are returned? This will allow me to display abbreviated states here in the US. For example, using `.parts.administrative_area_level_1` returns California, I'd like to display it as CA.

Thanks!

[2016-09-05 13:37] robinsandborg opened #15 "Map fails when used in globals"
The following code returns a `Cannot read property 'getElementsByTagName' of null` error when used in a field in Globals (with no #tabs element).

[code]

[2016-09-16 12:13] drball opened #16 "Isn't working for me inside a matrix"
I've added this as a field inside a matrix block, and it's not working when referenced in the template like this:
{{ block.googleMap }}

It gives this error:

However, referencing individual elements works fine, eg {{ block.googleMap.lat }}

Am I using it wrong?

[2016-09-22 14:34] neotheicebird opened #17 "Works in CP, how to embed into frontend?"
Nice plugin! I am able to play with it in the control panel and it looks great. But what should I add to the frontend templates to insert it there?

I tried:

1. Created a field called `simplemapfield`
2. Added it to a section, (About page of a demo site)

[code]

I even tried copy-pasting the contents of map-fieldtype.twig into the about page template. Obviously I am undereducated in handling thi

[2016-09-26 20:21] paul-frost commented on #17
[Answered in previous issue](https://github.com/ethercreative/simplemap/issues/11)

[2016-09-29 16:03] ineghi opened #18 "SimpleMap: Geocoder failed as a result of REQUEST_DENIED"
Happens when I select a location into the search input.
My API Key is set and working.

What could causes that ?

Thanks,

[2016-10-07 19:16] Tam commented on #16
The field returns an object containing `lat`, `lng`, `zoom`, `address`, and `parts`. In your template you would reference these `{{ block.googleMap.address }}` rather than `{{ block.googleMap }}` (which returns an array).

[2016-10-07 19:16] #16 closed

[2016-10-07 19:17] #17 closed

[2016-10-08 09:10] Tam commented on #18
I haven't been able to recreate this issue. Could you let me know what version of Craft & the plugin you are using, and what browser?

[2016-10-08 09:17] Tam commented on #12
Added in [v1.3.0](https://github.com/ethercreative/simplemap/releases/tag/1.3.0)

[2016-10-08 09:17] #12 closed

[2016-10-08 09:17] Tam commented on #13
Added in [v1.3.0](https://github.com/ethercreative/simplemap/releases/tag/1.3.0)

[2016-10-08 09:17] #13 closed

[2016-10-08 09:17] Tam commented on #14
Added in [v1.3.0](https://github.com/ethercreative/simplemap/releases/tag/1.3.0)

[2016-10-08 09:17] #14 closed

[2016-10-08 09:17] Tam commented on #15
Fixed in [v1.3.0](https://github.com/ethercreative/simplemap/releases/tag/1.3.0)

[2016-10-08 09:17] #15 closed

[2016-10-11 20:44] JamieUdaho commented on #18
Hi I'm getting the same console error: SimpleMap: Geocoder failed as a result of REQUEST_DENIED. I am on Chrome, just barely cloned the SimpleMap repo into my craft project.

[2016-10-11 20:46] JamieUdaho commented on #18
Found this, not sure if this is helpful. http://stackoverflow.com/questions/3212550/google-geocoding-api-request-denied

[2016-10-11 22:27] JamieUdaho commented on #18
Figured out my issue, even though I had enabled the google maps javascript API, it must not have fully registered as such. Once I enabled and got a new API key, everything was awesome. It wasn't an issue with SimpleMap. Thanks!

[2016-10-11 23:14] #18 closed

[2016-11-23 11:11] magnusland opened #19 "OVER_QUERY_LIMIT"
I'm using this (great) plugin in a Matrix for a client, one row for each office they have. If we add more than three rows there is a console warning;

We can always solve this without using Matrix, but I thought I'd give you a heads up on this.

[2016-11-28 22:00] paul-frost opened #20 "Not remembering pin placement after dragging"
I'm getting an issue where if I put in a postcode to get near where I want and then I drag the pin to the exact location (which is still be in the same postcode area), but on saving it reverts to the default postcode lat/lng. Sometimes the postcode area can cover several square kilometres and I need to be able to be precise.
In a particular case there is no second set of numbers for the postcode (

[2016-12-05 11:58] JoshAinsworth opened #21 "Simplemap and Neo"
Hi,

I've come across a minor edge-case bug when dealing with neo and simplemaps. If you have a simplemaps field that is both on an entry and inside a neo field on the same entry, the first field fails to load the google map whilst the one inside the neo field is fine... If that makes sense.

[2016-12-06 23:16] tomfrew commented on #19
Having a similar issue here.
I played around with random setTimeouts to delay field loading but even with that only map field loads a map.

[2016-12-21 00:01] shornuk opened #22 "Importing to a Simplemap field..."
Hi,

Love this map fieldtype, it's super useful enabling the outputting of `parts`.
I'm currently attempting to import a load of entries that contain lat/lng data into a Simplemap field using the Feedme plugin.

If I import that following :
`{"lat":"{latitude}","lng":"{longitude}","zoom":"14","address":"", "parts":""}`
I get the lat/lng imported into the Simple map field, the marker shows in the c

[2017-01-23 11:39] kaspar-allenbach opened #24 "No Multilanguage?"
I just saw that on a multilanguage site the locality is not displayed on the secondary language.

That's the code:
[code]

Primary language `German` prints:

Secondary language `English` prints:

Why is that? Ist that a bug? The locality should be language independent I think.

[2017-01-30 18:30] paul-frost commented on #20
I appreciate that this is a free plugin, but it would be good to get an acknowledgement that this is an issue and if it's likely to get fixed or not.
Longer term, is it likely to get update for Craft 3?

I have used this sort of simple Google map field for almost every site I've ever built. Many other plugins offer too many extra functions that I don't need.

[2017-01-30 22:07] alexjcollins commented on #20
Hi Paul, firstly, apologies for the somewhat lax approach to maintaining some plugins recently - we've just been super busy on project work. The good news is we're planning on making a bunch of well-needed updates this week so expect something on that soon.

Secondly, we will be making updates to support Craft 3 - just not sure when yet.

Thanks for using and enjoying our plugins!

[2017-01-31 22:16] paul-frost commented on #20
Thanks Alex, I switched to using Simplemap when I didn't get any response to bug reports for the paid for plugin I was using. I was getting desperate for a fix, as I have 2 sites close to being finished that are reliant on a Google map field.

All I need is the ability to drag a pin on a map and store the coordinates. I used to use Geotagger on ExpressionEngine sites, and it just wrote/mapped the

[2017-02-02 23:20] jasondibenedetto opened #25 "Craft 3 Support"
Are there any plans to update this for Craft 3?

[2017-02-02 23:36] alexjcollins commented on #25
@jasondibenedetto yup! We're just working through some of the current issues here, then will push an update for 3.

[2017-02-08 20:44] benjaminkohl opened #26 "Geographical Location Changes After Search and Click"
I am using the field type to select one of the Virgin Islands because the entire island needs to be displayed on the map. Once I select the geographical location from the dropdown, I see the pin appear on the map but the value in the text field changes to "Unnamed Road, British Virgin Islands". I didn't select a road so I don't know why this happens.

If I save the entry and return to the edit for

[2017-02-08 21:31] benjaminkohl commented on #26
I have another request. Can you set "scrollwheel" option to _false_ (or add a config variable that allows this) for the map display in the control panel? It is too easy to accidentally screw up our maps as we scroll through an entry's edit form.

[2017-02-10 16:35] masuga commented on #26
Unfortunately, these couple issues are making this plugin unusable.

[2017-02-24 16:28] Adamascroft opened #28 "A way of outputting the distance between searched location and entry location"

[2017-02-25 12:46] HelgeSverre opened #29 "Add ability to use simple map fields as "title""
When trying to use the value of the simplemap field as the title of an entry i get a "cannot convert simplemap object to string" because afaik there is no defined behaviour that handles this scenario.

Feature request:

When trying to use the value of the simplemap field as the title of an entry, make the simplemap field display the address.

[2017-02-27 09:56] #28 closed

[2017-03-07 00:57] dreamseeker commented on #21
Hi,

I had the same problem in neo of the entry editing form.
It seems to be a cause that SimpleMap cannot acquire hideMap's right value in both SimpleMap_MapFieldType.php and map-fieldtype.twig.

[2017-03-14 20:50] shornuk opened #30 "Submitting to Simplemap from Front End form"
I currently have a front end form that is passing lat/lng values to Simplemap. The only issue is that when I save this, it only captures the lat and long and therefore the address and parts are not generated. Any idea if it would be possible to achieve this? I'm thinking it would work similar to Josh's Feedme integration that completes the rest of the data from the supplied lat/lng, presumably aft

[2017-03-28 13:50] Tam commented on #19
Should be fixed, or at least improved, in v1.5.0!

[2017-03-28 13:50] #19 closed

[2017-03-28 13:51] Tam commented on #20
This should be fixed in v1.5.0.

[2017-03-28 13:51] #20 closed

[2017-03-28 13:51] Tam commented on #21
This should be fixed in v1.5.0.

[2017-03-28 13:51] #21 closed

[2017-03-28 13:52] Tam commented on #22
We've added FeedMe 2 support in v1.5.0. We've also improved the way we populate the address & parts data, so you should be able to import as you would any other field.

[2017-03-28 13:52] #22 closed

[2017-03-28 13:53] Tam commented on #24
This should be fixed in v1.5.0.

[2017-03-28 13:53] #24 closed

[2017-03-28 13:53] Tam commented on #26
These should be fixed in v1.5.0.

[2017-03-28 13:53] #26 closed

[2017-03-28 13:53] Tam commented on #29
This should be fixed in v1.5.0.

[2017-03-28 13:53] #29 closed

[2017-03-28 13:53] Tam commented on #30
This should be fixed in v1.5.0.

[2017-03-28 13:53] #30 closed

[2017-03-29 09:41] shornuk commented on #30
Awesome! Thanks.

[2017-03-30 12:22] kaspar-allenbach opened #31 "Download Button in Craft Update CP Broken"
When I hit "download" in the craft update panel. I get a 404

[2017-03-30 12:32] Tam commented on #31
Oops! That's fixed now!

[2017-03-30 12:32] #31 closed

[2017-03-30 22:11] Tam opened #32 "Only call API when the value of the field has changed"

[2017-03-30 23:09] shornuk opened #33 "Touch when dragging"
Hi. Solid update with 1.5. Thanks! Minor issue, which I'm not sure if it's to do with the plugin or google api.

On mobile, if your swiping down the page and you swipe on the map, you get the "use two finger to move map" message, which is great, but the map still detects the touch and will move the marker to wherever you tapped when you started to swipe. Hope that makes sense!?

[2017-04-05 20:21] m3ndi3 opened #34 "How to display map in template"
Hello! How do I display the google map in my template?? I want it to show exactly as is when I'm inputting the address in my entries.

In my template I have these:

 {{ block.address }}
{{ block.address.lat }}{{ block.address.lng }}

But I don't know what to do with it to display the map in the front end... Please help!

[2017-04-05 20:30] Tam commented on #34
[See here](https://github.com/ethercreative/simplemap/issues/11#issuecomment-238230933)

[2017-04-05 20:30] #34 closed

[2017-04-05 21:46] m3ndi3 commented on #34
Sorry this didn't work with the matrix block for me.  I entered this code into the for loop and the first block turned into a static image, and second block correctly turned into an interactive map.

I even transformed all the variables to be different using {{ loop.index }}

Please help! In the backend, when I had two different matrix blocks, it showed the maps correctly. Can you please advise me

[2017-04-05 22:15] m3ndi3 commented on #34
Just figured it out!

`function initMap() {
      {% for block in entry.location if block.type == "place" %}
      var map{{ loop.index }};
       var uluru{{ loop.index }} = {lat: {{ block.address.lat }}, lng:{{ block.address.lng }}};

    map{{ loop.index }} = new google.maps.Map(document.getElementById('map{{ loop.index }}'), {
      center: uluru{{ loop.index }},
      zoom: 12
    });
    var

[2017-04-13 20:53] 8cylinder opened #35 "Usage from another plugin"
I'm creating entries programmatically that have a SimpleMaps field.  I have latitude and longitude data and I want to add that to the entry when I create it.

This code doesn't work, but it's basically what I'm trying to do.
[code]
I'm guessing I need to create a simpleMap object first then add that to my entry.
[code]

Can you point me toward some documentation covering this?

[2017-04-16 13:55] CreateSean opened #36 "Default Latitude & Longitude only accepts whole numbers"
In the fieldtype settings the Latitude/longitude options only allow whole numbers. This means the default setting is off a couple hundred kilometers from where I want it to be.

I need: 43.6525 and -79.381667 which is Toronto ON, but if I go with whole numbers I either end up in Niagara Falls (43, -79) or the middle of a farmers field in the middle of nowhere (44, -79).

[2017-04-16 17:09] CreateSean opened #37 "CP errors on Saving address on publish page"
Craft 2.6.2972
SimpleMap 1.5.0

I've added a field to a single and when I attempt to save the entry I get errors. Removing the field and the errors go away. This does not change whether an address has been added to the field or not.

Errors on publish are:

[code]

[2017-04-28 15:53] sjadema opened #38 "Google API key"
Since version 1.5.0, the geocoding is done via a curl. This means previously generated Google API keys with a browser restriction won't work anymore as the request is now a server request opposed to a browser request (when using Javascript).

This should be mentioned in the CHANGELOG as a breaking change since the feedback in the CP is still there (it uses the JS library) but the address parts won

[2017-05-06 07:43] redeventmedia opened #39 "Short Names"
This returns nothing when using {{ myMapField.parts.country_short }} is this expected behavior?  {{ myMapField.parts.address }} returns the full address.

[2017-05-12 09:38] Tam commented on #39
As mentioned in the docs:

Google only returns what parts of the address it has, so that's all we store.

[2017-05-12 09:38] #39 closed

[2017-05-17 14:43] ElephantTrail opened #40 "Not working in IE11 (probably dispatchEvent)"
Hi,

In IE11 the plugin is not loading in Craft CMS. We did some researching and think it is because of the dispatchEvent in:

`
SimpleMap.LoadGoogleAPI.LoadMapsApi = function (key, locale) {
		google.load('maps', '3', {
			other_params: 'libraries=places&key=' + key +
			'&language=' + locale.replace('_', '-') +
			'&region=' + locale,
			callback: function () {
				document.dispatchEvent(new Eve

[2017-05-17 14:49] Tam commented on #40
We don't support IE, sorry.

[2017-05-17 14:49] #40 closed

[2017-05-18 11:50] Zae commented on #36
I'm having the same problem, the plugin won't event accept the coords generated by the location service when entering an address.

Is there an easy way to fix this?

[2017-05-18 12:13] CreateSean commented on #36
I ended up just using the google api and feeding it a text field with an address. No fancy map in the control panel but works fine on the front end.

[2017-05-18 12:29] Tam commented on #36
Whoops, that's fixed in [v1.5.1](https://github.com/ethercreative/simplemap/releases/tag/v1.5.1)

[2017-05-18 12:29] #36 closed

[2017-05-18 12:36] Zae commented on #36
@Tam I think that only solves the problem that chrome won't save the decimals, I was getting validation errors from craft because I have the nl_NL locale loaded which uses , instead of . and mysql won't accept that.

[2017-05-26 18:10] brandondeweese opened #42 "Can a I pull business name in parts?"
Hi, I can get everything I need from "parts" except for the business name. Is there an easy way to achieve this or no?

Thanks.

[2017-05-29 09:43] akuales opened #43 "Multilanguage - "not translatable"-checkbox ignored"
I use this magnificent plugin in a multi-language environment.
When creating a simplemap-field I checked the "not translatable" box, because I need the plugin only to display a marker in the frontend - which is the same in every language.

When I set the marker-position in one language, it gets saved correctly, but in all other languages the marker has still the default lng/lat-values.

I'm using

[2017-06-06 09:05] Tam commented on #42
Unfortunately there is no way to get the business name from the data that SimpleMap stores, but it is certainly something we will be able to add in the future. In the meantime, it may be possible for you to get the business name using Google's [Places API](https://developers.google.com/maps/documentation/javascript/places).

[2017-06-06 11:39] Tam commented on #43
Fixed in [v1.6.0](https://github.com/ethercreative/simplemap/releases/tag/v1.6.0)

[2017-06-06 11:39] #43 closed

[2017-06-06 11:40] Tam commented on #38
Added an alternative server API key setting in [v1.6.0](https://github.com/ethercreative/simplemap/releases/tag/v1.6.0)

[2017-06-06 11:40] #38 closed

[2017-06-06 11:40] Tam commented on #37
Fixed in [v1.6.0](https://github.com/ethercreative/simplemap/releases/tag/v1.6.0)

[2017-06-06 11:40] #37 closed

[2017-06-06 11:40] Tam commented on #33
Fixed in [v1.6.0](https://github.com/ethercreative/simplemap/releases/tag/v1.6.0)

[2017-06-06 11:40] #33 closed

[2017-06-06 12:37] monachilada opened #44 "Upgrade to 1.6 doesn't update non-translatability for existing location field values."
I just upgraded from 1.5.1, went into some of my entries where location fields (set as non-translatable) were previously saved, and the locations didn't appear. Going into the database and manually changing the ownerLocale to NULL made the field values show up again when editing the entries. this seems like a pretty big deal, as the casual observer will see a bunch of fields that are suddenly empt

[2017-06-06 12:59] Tam commented on #44
Fixed in [v1.6.1](https://github.com/ethercreative/simplemap/releases/tag/v1.6.1). It's like nothing ever happened.

[2017-06-06 12:59] #44 closed

[2017-06-06 17:33] sjadema commented on #38
Thanks @Tam!

[2017-06-06 18:56] shornuk commented on #33
Nice!

[2017-06-20 20:44] bfopma opened #45 "Is there a way to display distance?"
Hi, thank you for this great plugin! I was wondering if there is a way to display the distance of each location relative to the search point. I'm able to sort by distance but it would be great to be able to display this distance in the template, as well.

Thank you!
Brady

[2017-06-21 14:09] bradarnett opened #46 "Lat/Lng validation issues on manual marker position."
When I try to save after clicking on the map to select a marker position I'm getting the following error, is it possible to disable this validation or auto-round up to the nearest valid value?

![map issue](https://user-images.githubusercontent.com/17981427/27388478-854e69c2-5693-11e7-8117-845cbcb5e568.png)

[2017-06-21 16:23] bfopma commented on #45
Okay, I figured it out.  But boy, I could have sworn that I tried using _fieldname_.map.distance previously and it wasn't working.  :)

[2017-06-21 16:23] #45 closed

[2017-07-06 15:10] paul-frost opened #47 "Won't save after geo locating"
I enter a postcode in the search bar, select the result from the popup, then when I click Save nothing happens. But if I select "save and continue editing" it saves.

I've tried this a few times and sometimes if I put in a new postcode it works first time. But if I then put in the original postcode it doesn't.

There are no errors or warnings in the console.

[2017-07-13 11:13] willans opened #48 "Searching and Sorting breaks if Google can't find the location"
Searching and Sorting breaks when looping through entries if Google can't find the location.

So if I entered some gibberish (e.g. "dsfdsfdsfdsfds"), then it returns an error, rather than just no results.

It returns a `CDbException` error, complaining about `Unknown column 'distance' in 'order clause'.`

[code]

[2017-07-14 09:44] #46 closed

[2017-07-14 09:45] Tam commented on #48
Fixed in v1.6.2!

[2017-07-14 09:45] #48 closed

[2017-07-14 09:46] Tam commented on #46
Fixed in v1.6.2!

[2017-07-14 09:59] bradarnett commented on #46
Ah brilliant. Thanks!

[2017-07-14 10:32] willans commented on #48
Nice one, thanks 👍

[2017-07-17 20:39] paul-frost commented on #47
I've updated SimpleMap to 1.6.2 from 1.6.1 and craft to 2.6.2987 from 2.6.2986 and it now seems to be working.
Firefox: 54.0.1 & Chrome: 59.0.3071.115
OS: macOS 10.12.5
There are a pile of plugins: Cache Buster, CP Sortable Custom Columns, Feed Me. Field Manager, Help & Tips, Image Resizer, Import, K4 Encode Emails, Placid, Preparse Field and Redactor Word Count.
I did have SquareBit Maps installe

[2017-07-31 15:45] sam327 opened #49 ""parts" functionality doesn't return anything"
It looks like in a recent update, the "parts" functionality quit working for me. I'm trying to return a list of cities, like so:

- Boston, MA
- New York, NY
- Washington, DC

And my code looked like so.
````<li>{{ entry.map.parts.locality }}, {{ entry.map.parts.administrative_area_level_1_short }}</li>````
And it was working. But now it renders ````<li>, </li>````

However if I use the full addre

[2017-07-31 15:52] sam327 commented on #49
Scratch that, it looks like it didn't like one particular address, and thus killed _everything_.

Opening and resaving was the fixer. There's a couple items in my list that aren't showing the lat/long, and those are the offenders. Clicked in the field, re-selected the location address, and saved the entry. And all is good.

All it took was filing a ticket before I noticed what was actually wrong.

[2017-07-31 15:52] #49 closed

[2017-08-07 12:56] designkarma opened #50 "location param only works with lat/lng values"
Hi guys. This plugin is going to really useful on a site I'm building but I can't get it working right. For some reason searching/sorting only works when I pass in lat/lng values, but not when I pass in a string like 'Manchester, UK'. In the latter case I don't get an error, I just get a list of all entries, when it should only return about 5.

So this works:

`{% set entries = craft.entries.servi

[2017-09-05 00:18] timknight opened #52 "Is it possible to query locations based on information from a part of the address?"
This might be my neophyte showing with Craft ElementCriteriaModel but I figured maybe this would be simplemap specific. Is it possible to do a query of all items within a section based on a value within `[field].parts`? Something like:

[code]

[2017-09-05 06:59] Tam commented on #52
You can't at the moment. In this case you'd want to use `location: "United States", radius: 2745` but this has the down side of searching every location in a 2745km radius around what Google considers to be the centre of the US (which is *State Beach, Independence, Kansas* apparently). This means you'd also be searching all of Mexico, Guatemala, and Honduras, nearly all of Cuba, and a large chunk

[2017-09-05 12:21] timknight commented on #52
Awesome Tam, thanks for adding it to the list. In terms of search, I just think it would be great if you're able to query and search any portion of the address you have stored in the database for addresses you've added using Simple Map on the CP site regardless of it's relationship in distance. Keep up the great work with Simple Map, it's been awesome to have it in the Craft community!

[2017-09-06 15:00] Tam commented on #50
Are you getting any errors in either `Craft.log` or `SimpleMap.log`?

[2017-09-06 15:02] Tam commented on #47
Are you getting any JavaScript errors, or any errors in `SimpleMap.log` (or any in `Craft.log` that are related to SimpleMap?)

[2017-09-06 15:13] Tam commented on #35
You should be able to do something like:

[code]

[2017-09-06 15:19] Tam commented on #50
It's also possible that your Google Maps API key doesn't have the Geocoding API enabled, which would mean searching by address would fail.

[2017-09-06 15:54] designkarma commented on #50
Hi Tam thanks for getting back to me. This particular issue was a little while ago and I'm all sorted now. Not sure what the issue was but you're probably right about the Geocoding. Thanks.

[2017-09-06 15:54] #50 closed

[2017-09-07 13:42] shornuk opened #53 "Some seaches not returning results"
Hi,
Not sure if this is plugin or Google related.
I have location field set up. I have a search field on my front end that queries this location field. It's mainly fine, but I have noticed that it will only return results if the search string matches what the Google address autocomplete would be.
For example, when I search for "Winchester" I get no results, but if I search for "Winchester, United

[2017-09-07 14:19] Tam commented on #53
It's hard to tell with out some examples of your code, but at a guess I'd say that

[2017-09-07 14:28] Tam commented on #53
It's hard to say without examples of your code, but at a guess I'd say it's because the Winchester that is being searched for is a different one than the Winchester in the UK.

The location search converts the address to a LatLng (via Google's Geocoding), then searches by that rather than the physical address. This ties in to #52 and the ability to search by parts of the address (in this case `cit

[2017-09-07 15:21] shornuk commented on #53
Ah ok, that makes sense. We're going to append "UK" to the search query as that seems to cover it.

[2017-10-06 14:02] shornuk opened #54 "Search results different on local env to live env"
Hi,

Not sure if this is a Simplemap issue, but we're having some strange behaviour. Working on a site locally, I've a search form that searches entries based solely on the location field. All works fine. For example, a typical search with a radius gives 20-30 results.
We then pushed this to staging server and the search now returns zero or 1 to 2 results. Exact same database copied down from the

[2017-10-06 14:04] Tam commented on #54
Can you let me know what versions of PHP, MySQL, & Craft you're using?

[2017-10-06 14:18] #53 closed

[2017-10-06 14:24] shornuk commented on #54
Sure,
Local:
Craft 2.6.2991, PHP 7.1 and MariaDB 10.2.9
Live
Craft 2.6.2991, PHP 7.1 and MariaDB 10.2.8

[2017-10-06 15:10] Tam commented on #54
Are you getting any errors in either `craft.log` or `simplemap.log`? Also, can you compare the contents of your `craft_simplemap_maps` tables on your local & live envs to make sure they're the same?

[2017-10-06 15:14] shornuk commented on #54
Hi, nothing in the logs, no `simplemap.log` being created. Comparing the `craft_simplemap_maps` tables, they are exactly the same.

[2017-10-06 15:55] Tam commented on #54
If you refresh the page that's running the location search query, then immediately check your `craft.log` you should be able to find something like this:

[code]

Could you send me the above for both dev & live?

[2017-10-06 16:05] shornuk commented on #54
Hi, have just done this, but not getting anything in the logs that looks like the above.

[2017-10-09 09:53] shornuk commented on #54
Hi,
Just to add a little further info. The site is hosted on a Forge/Linode set up. We cloned it across to a Cloudways server to test and it works there, so looks like it's something to do with the server setup/config. Any ideas on what might affect it? Only thing I can see different from a quick look through the server info in the CP is `cgi.fix_pathinfo` is set to 1 locally, and on the server th

[2017-10-10 09:11] Tam commented on #54
@shornuk That's a bit beyond me I'm afraid! I've never used Forge or Cloudways, so I can't really help. If the `cgi.fix_pathinfo` is the only difference, the only thing I can think of doing is setting that to the same as the working servers to see if it helps.

[2017-10-24 17:19] samhibberd opened #55 "Performance Issue (Waiting for table metadata lock)"
Hi There,

We have been running into some performance issues on a high traffic site and have caught some queries in MySQL causing Apache processes to backup and subsequently crash.

Our hosts (Arcustech) worked with Brad (Craft) to try and work out the cause and suspect it might be coming from one of the queries generated by simple maps.

I thought it would be good to share our findings and ask if

[2017-10-27 10:42] Tam commented on #55
Hi Sam,

I don't think I've had anything try to run 200 million+ requests before, that's impressive!

This isn't something we've come across before so it would be really useful to have access to a copy of your database, your templates, and any plugins (custom or otherwise) that you are using so we can better debug the issue. There's nothing in the SimpleMap code that would be causing those joins,

[2017-10-30 13:27] Tam commented on #55
Closing this following the v1.7.0 release

[2017-10-30 13:27] #55 closed

[2017-10-30 14:38] paul-frost commented on #47
The latest versions seem to be working OK, so you can clos ethi snow.

[2017-10-30 14:59] #47 closed

[2017-11-03 17:40] #25 closed

[2017-11-03 19:57] #35 closed

[2017-11-03 19:58] #54 closed

[2017-11-08 17:08] pixeldeluxe opened #56 "Error at save new user"
Very nice plugin! Keep up the good work!
When I use the field in a User profile it won't save:
in_array() expects parameter 2 to be array, null given

[2017-11-08 17:10] Tam commented on #56
What version of Craft & the plugin are you using, and can you paste the full stack trace?

[2017-11-08 18:18] pixeldeluxe commented on #56
Oops, I'm sorry for the fuzz! I guess another plugin was the trouble maker.

[2017-11-08 18:18] #56 closed

[2017-11-15 15:37] manomoul opened #57 "Is it possible to access an addition to a streetnumber is a seperate attribute"
Oud address number is made of 2 parts ,
{streetname} 4E 205
I am able to access {{contact.address.parts.street_number}} as a seperate attribute, but I cannot separately output  205.
{{contact.address.parts.street_number}} outputs only 4E, which makes it difficult to format the address in the templates.

[2017-11-15 15:46] Tam commented on #57
I'm not sure exactly what you're after, but is sounds like you're not getting the entire address you need. You can find a list of all the available address parts [here](https://developers.google.com/maps/documentation/geocoding/intro#Types), hopefully one of these will return the data you need.

It might help if you dump out the data you're receiving to see if what you're after is available. You c

[2017-11-15 16:33] manomoul commented on #57
I did these things before submitting this issue. What I mean , now with a concrete example:
- I put this address in simplemap: Dok-Noord 4E 205
now I want this result in html:
`<div class="address-block">
Dok-Noord 4E 205<br>
9000 Gent<br>
</div>`

This is atm not possible with the simplemap plugin as I see it.
{{contact.address.parts.route}} {{contact.address.parts.street_number}} outputs Dok-Noo

[2017-11-15 16:45] Tam commented on #57
It's strange that Google isn't returning that part of the address. It looks like your best bet is trying one of the following:

If you want to get the first line of the address, you can do this:

[code]

If you want to output the address on multiple lines, you can try this:

[code]

[2017-11-16 07:55] manomoul commented on #57
Ok, thank you for clarifying. I didn't know whether it was the plugin or Google.

[2017-11-23 09:11] terryupton commented on #38
I have entered both a Alternate Server API Key and Google Maps API Key but it seems that in the backend only the Google Maps API Key is used? Is this a bug or have I misunderstood its use case?

[2017-11-23 10:35] Tam commented on #38
@terryupton The alternate API is meant to be used by the server (for searching by location) if you need to put restrictions on the main user facing API key. The main API key is used where ever a map is displayed (and if you use `craft.simpleMap.apiKey`).

[2017-11-28 13:33] Tam opened #58 "[FR] Restrict location searching to a specific country"

[2017-11-29 15:37] #58 closed

[2017-11-29 15:38] Tam opened #59 "[FR] Make `getLatLngFromAddress` available in templates"

[2017-11-30 02:59] markhuot opened #60 "Feature request: GraphQL support"
I’m working on a plug-in that exposes Craft fields over a GraphQL endpoint. To do this the field needs to have two additional methods to expose the field schema to GraphQL.

There’s a request for this over on the CraftQL repo:

https://github.com/markhuot/craftql/issues/30#issuecomment-348067568

Not sure if this is something you want to support. If so, yay! If not, no worries, I can support it un

[2017-11-30 17:40] #59 closed

[2017-11-30 17:41] Tam commented on #60
[Added in v3.1.0](https://github.com/ethercreative/simplemap/releases/tag/v3.1.0)

[2017-11-30 17:41] #60 closed

[2017-11-30 17:42] #57 closed

[2017-11-30 17:42] Tam commented on #52
[Added in v3.1.0](https://github.com/ethercreative/simplemap/releases/tag/v3.1.0)!

[2017-11-30 17:42] #52 closed

[2017-11-30 17:43] Tam commented on #52
I mean v3.0.4. They both have 3s, it's fine.

[2017-12-07 09:52] juresrpcic opened #61 "Call to a member function getMap() on null"
On a clean Craft 3 RC1 install, I get an error that breaks Control Panel entirely after creating a Simple Map field with default settings.
[code]
Any ideas?

[2017-12-07 10:01] juresrpcic commented on #61
Some additional information - I had a clean Craft 3 install but with other plugins installed when I got the error. I just tried a fresh install without any plugins + manually installed Simple Map with Composer and it worked without throwing that error.

[2017-12-07 11:02] Tam commented on #61
That error suggests that the field type was being called in some way before the rest of the plugin had been initialised. It's most likely that one of the other plugins you had installed was causing this.

Could you let me know what other plugins you had installed?

[2017-12-07 11:03] Tam opened #62 "Installation via Plugin Store errors (probably onAfterInstallPlugin)"
Add check to `onAfterInstallPlugin` to prevent running if installed via composer/command line.

[2017-12-07 11:36] georgejr commented on #61
For me it caused:
Redirect plugin for Craft 3

[2017-12-07 16:19] juresrpcic commented on #61
This is the list of plugins I have installed (doing some testing):

- `studioespresso/craft-dumper` [github](https://github.com/studioespresso/craft3-dumper) (1.1.0 - issue with compatibility)
- `am-impact/amcommand` [github](https://github.com/am-impact/amcommand) (3.1.0)
- `doublesecretagency/craft-cpcss` [github](https://github.com/doublesecretagency/craft-cpcss) (2.0.0)
- `doublesecretagency/c

[2017-12-07 16:25] Tam commented on #61
Only a couple of other plugins then 😆

It would be worth checking your logs as well, as they will probably contain more information about the error. You can check your logs from within the Craft CP using [Logs](https://github.com/ethercreative/logs) (shameless plug).

[2017-12-07 17:24] juresrpcic commented on #61
A few 💯 ...

I did look at the logs but nothing really jumps at me, here is the relevant part if you find it useful:
[code]
Nice log-o on the Logs plugin 👍

[2017-12-07 17:30] juresrpcic commented on #61
Hm, the log made me test again and I think it just might be *Command Palette* - `am-impact/amcommand` . If I just uninstall that one, I can create the Map field again. But funny enough, once I create the map field, I can re-enable Command Palette and then I can continue creating Map fields without errors. I'll submit this report to amcommand github as well...

[2017-12-08 09:25] juresrpcic opened #64 "Boundary restriction fields need decimals"
Currently the boundary restriction fields are limited to integers - Google supports floating point numbers here and they are often required (whole lat/long numbers aren't very precise).

Example of Google-friendly JSON for boundaries that works with decimals:
[code]

Thanks.

[2017-12-08 11:10] Radiergummi opened #65 "Error when adding a map to a global set"
### Description
When you add a map field to a global set section, the `could not save global set.` message appears. Logs in debug bar show no further errors though.
Once I add the same field to the users layout, it works fine.

### Steps to reproduce
1. Install simplemap in Craft 3 from plugin store
2. Add a valid API key
3. Create a new map field with defaults
4. Add the field to an existing glob

[2017-12-08 11:13] Radiergummi opened #66 "Settings page translations broken"
The settings labels are not being replaced currently:

<img width="284" alt="bildschirmfoto 2017-12-08 um 12 12 31" src="https://user-images.githubusercontent.com/6115429/33763522-1cdcac88-dc11-11e7-9074-8e19991df1eb.png">

[2017-12-08 14:48] boldenamsterdam opened #67 "When adding extra locale, (some) entries lose the map coordinates"
Hello,

I have the following issue in my project. I have a project with a single locale and I want to add a second locale. After successfully adding the 2nd locale some of the entries (not all of them) lose the map coordinations. In the database the "simplemap_maps" table remains the same. All the other field work fine with the extra locale and they can even be translatable without any issue. It i

[2017-12-11 14:48] Tam commented on #66
What language is your CP in?

[2017-12-13 12:54] peteralewis opened #68 "Minor URL update required"
In the file /simplemap/SimpleMapPlugin.php (v2 Branch):
[code]
Needs to be updated to:
`https://raw.githubusercontent.com/ethercreative/SimpleMap/v2/releases.json`

Noticed that v3 branch doesn't have a releases file - I assume that's by design.

[2017-12-17 09:26] bphippen commented on #42
I also would love to see something like this. Maybe add the place_id to the parts if one exists?

[2017-12-18 10:37] Tam commented on #68
That's fixed, thanks for letting me know!

[2017-12-18 10:37] #68 closed

[2017-12-18 10:51] Tam commented on #67
Do you have a backup of the database before you added the extra locale? Also, were there any similarities between the entries that lost their data?

[2017-12-18 11:22] Tam commented on #61
Closing this, looks like it's fixed in [Simple Map plugin breaks when Comand Palette enabled #33](https://github.com/am-impact/amcommand/issues/33)

[2017-12-18 11:22] #61 closed

[2017-12-18 11:25] Tam commented on #65
This looks like an issue with the way Craft saves global sets. I've submitted an issue, so we'll have to wait and see!

[2017-12-18 11:26] Tam commented on #66
Fixed in v3.1.2

[2017-12-18 11:26] #66 closed

[2017-12-18 11:26] Tam commented on #64
Fixed in v3.1.2

[2017-12-18 11:26] #64 closed

[2017-12-18 11:42] Radiergummi commented on #66
Hey @Tam, sorry, was out of the office the last week. It's in german, but I see you fixed that already, so thank you ✌️

[2017-12-18 15:47] #65 closed

[2017-12-18 15:47] Tam commented on #65
Fixed in v3.1.3

[2017-12-18 17:59] Radiergummi commented on #65
Weeeee, thanks! 👌

Tam <notifications@github.com> schrieb am Mo., 18. Dez. 2017, 16:47:

[2018-01-04 17:20] bfopma opened #69 "Distance is Not Working"
This looks like it may not have been working for a while but I noticed that the map distance (distance between two lat/lng) was always returning 'null'. This issue looks like it is on line 406 of services/SimpleMapService.php of the v2 branch:

`if (!$this->searchLatLng || !$this->searchEarthRad) return null;`

This will always return null since as far as I can tell $this->searchEarthRad no longer

[2018-01-05 09:39] lukeyouell opened #70 "Searching fails with pagination"
The following database exception is thrown when trying to paginate search results:

[code]

[2018-01-05 10:21] lukeyouell commented on #70
I've narrowed down what I think is the issue, `JOIN` is being repeated in the SQL query:

[code]

[2018-01-05 15:25] timkelty opened #71 "Update webonyx/graphql-php dep to ^0.11.0"
I'm attempting to use this with a pre-release of https://github.com/markhuot/craftql and getting dep conflicts.

[2018-01-08 15:42] timkelty opened #72 "Save subpremise to db"
I'm seeing `subpremise` (in this case, the room/suite $) in the returned api from google, but it isn't getting written to the db.

[2018-01-08 16:21] brandonkelly commented on #70
This is the culprit: https://github.com/ethercreative/simplemap/blob/e3cbea8e7933ea20594dcbbce5c306f2c94e1f78/src/services/MapService.php#L258-L266

A field’s `modifyElementsQuery()` method will be called each time an element query is executed, so doing this could result in multiple JOINs getting added to the query.

Element queries aren’t ever built and executed directly, though. They create an i

[2018-01-09 09:55] lukeyouell commented on #70
I seem to have fixed the issue by replacing

[code]

with

[code]

I'm not sure if this is the perfect fix, but it's at least got the pagination working for me until the next release.

[2018-01-09 10:21] Tam commented on #72
Could you give me an example address to test agains?

[2018-01-09 10:35] Tam commented on #69
Fixed in v1.8.2

[2018-01-09 10:35] #69 closed, assigned to nobody

[2018-01-09 11:15] Tam commented on #70
If it helps, I'm getting a completely different error 😄

[code]

while @brandonkelly's fix gives me

[code]

and your fix, @lukeyouell, throws

[code]

Could you give me an example of your template code, and let me know what versions of Craft & SimpleMap you're running and what DB driver you're using?

[2018-01-09 12:58] timkelty opened #73 "Dropdown gets truncated and is unreadable"
![screen shot 2018-01-09 at 7 57 43 am](https://user-images.githubusercontent.com/18329/34721979-e4107482-f512-11e7-9503-859681bc66e1.png)

[2018-01-09 13:12] timkelty commented on #72
I first tried the address with the subpremise (Suite #) in the address. Unfortunately that kills the autocomplete.

Then I tried searching for the org name. Autocomplete works there and the API google places response api response has `{long_name: "#101", short_name: "#101", types: ["subpremise"]}` in the `result.address_components` array (but doesn't end up in the DB.

**Address**
2944 Fuller Aven

[2018-01-09 14:14] Tam commented on #72
SimpleMap doesn't use the Places API (yet, #42). We use the Geocoding API to get details about the given location, which doesn't seem to include `subpremise` for some reason. This is something we're looking to add in the future.

[2018-01-09 14:14] #72 closed, assigned to nobody

[2018-01-09 14:16] timkelty commented on #72
Ah ok. Well…except that I am seeing `subpremise` returned from the google response (when I use the org name).

[2018-01-10 09:21] lukeyouell commented on #70
@Tam

Template code:

[code]

Craft 3 RC-5
SimpleMap 3.1.3
DB Driver MySQL 5.7.20

[2018-01-10 11:27] Tam commented on #70
Hmm... I have a fix, but it only seems to work with MySQL. Postgres keeps throwing this error (fresh install, RC5):
[code]
The fix is basically what Brandon suggested, but extended to the subQuery as well (*a tab is 4 spaces GitHub* 😠 ):
Replace
https://github.com/ethercreative/simplemap/blob/e3cbea8e7933ea20594dcbbce5c306f2c94e1f78/src/services/MapService.php#L258-L266
with
[code]

@brandonkelly

[2018-01-10 11:34] lukeyouell commented on #70
@Tam that works for me!

[2018-01-10 15:36] sam327 opened #74 "Pins don't show up in Safari - using mapbox"
We ran into a weird issue - we're using Simple Map for Craft 2. In Safari, pins weren't showing up at all on the map. It was fine in Chrome, Firefox, and IE, but not Safari on our macs.

The fix - after a whole bunch of digging - is just to update which version of mapbox-gl.js you're calling to the latest. Thankfully, these are called remotely, so you just need to update the references.

So, this

[2018-01-20 02:44] mcclaskiem opened #76 "Layout Change in Supertable with SimpleMap causes deletion"
Not sure if this is an issue on the Simple Map side or the Super Table side but we currently have a Large Matrix which includes a "Map Block." That block is a Super Table which includes a plain text field,  Simple Map Field, and Rich Text Field. When creating this field as a "Table Layout" it saves fine. If "Row Layout" is chosen and then a save triggered, the Map block is wiped of the three field

[2018-01-23 13:52] bymayo opened #77 "Import via Feed Me"
It would be good if we could import map content via Feed Me plugin:

https://verbb.io/craft-plugins/feed-me/docs/developers/field-types

[2018-01-23 14:33] Tam commented on #77
SimpleMap already supports Feed Me for Craft 2. We'll add support for the Craft 3 version once it's released!

[2018-01-23 14:33] #77 closed, assigned to nobody

[2018-01-23 14:43] bymayo commented on #77
Sorry, this is my bad. I didn't realise until I just read your changelog! Whoops.

[2018-01-23 15:56] timkelty opened #78 "FR: Options to store/override address components"
In the field options, I could specific additional address components to display (street address, organization name, room number, line 2, etc).

Those fields would then show with the map and populate on a location selection (as lat/lng do now).

The reason for this is ensure an accurate address and the ability to provide an override to formatting. Currently I've had to add an "Additional address in

[2018-01-23 22:51] Tam opened #79 "Single quotes!"
https://github.com/ethercreative/simplemap/blob/91eadc83091d4f4251b6ea2bbed294c86988a89b/src/fields/MapField.php#L98-L346

[2018-01-23 22:55] Tam opened #80 "Fix translation support"

[2018-01-24 11:35] #79 closed, assigned to Tam

[2018-01-24 11:36] #80 closed, assigned to Tam

[2018-01-25 01:27] bighoho123 opened #81 "Pagination gives error - Not unique table/alias: 'simplemap'"
### Description

When you create an elementCriteria and paginate with the following code it throws

`Not unique table/alias: 'simplemap'`

[code]

### Steps to reproduce

1. Create an elementCriteria with SimpleMap criteria
2. Paginate it in the twig template

### Additional info

I will create a pull request for the fix shortly.

[2018-01-25 09:51] lukeyouell commented on #81
@bighoho123 check out [#70](https://github.com/ethercreative/simplemap/issues/70) for a possible fix

[2018-01-25 09:53] lukeyouell opened #83 "No longer in plugin store?"
### Description

Looks like the plugin is no longer listed in the plugin store. Any ideas?

### Additional info

- Craft version: 3.0.0-RC7.1

[2018-01-25 10:48] Tam commented on #83
So it's NOT just me! I shall poke P&T.

[2018-01-25 10:51] lukeyouell commented on #83
@Tam I installed via composer, but every time I tried to save a new map field it bricked the CP?

[2018-01-25 11:18] Tam commented on #83
Weird. I just span up a fresh craft install, added SimpleMap via composer and everything worked fine. Are you getting any errors?

[2018-01-25 11:24] lukeyouell commented on #83
Weird, it works now!

I was getting something along the lines of `Unable to getMap() with a null value` when trying to view any page in the CMS after saving a map field. I had to delete the field from the db.

[2018-01-25 11:57] Tam commented on #81
Closing this since it's a duplicate of #70

[2018-01-25 11:57] #81 closed, assigned to nobody

[2018-01-25 19:51] #83 closed, assigned to nobody

[2018-01-25 20:12] #71 closed, assigned to nobody

[2018-01-25 20:12] #70 closed, assigned to nobody

[2018-01-25 20:12] #73 closed, assigned to nobody

[2018-01-25 20:12] #74 closed, assigned to nobody

[2018-01-26 10:02] lukeyouell opened #84 "Call to a member function getMap() on null"
### Description

`Call to a member function getMap() on null` error displayed when saving new map field, this error is then displayed when trying to access any page in the CP and is only resolved by deleting the field from the DB.

### Steps to reproduce

1. Fresh Craft installation
2. Create location field (my parameters pictured below)
3. Save field

<img width="754" alt="image" src="https://use

[2018-01-26 10:04] lukeyouell commented on #84
Error page pictured below

<img width="1277" alt="image" src="https://user-images.githubusercontent.com/24975058/35434779-3e48a3a0-0280-11e8-91ae-43c45e4bc675.png">

[2018-01-26 10:43] Tam commented on #84
This look likes a duplicate of #61, the cause of which was the amcommand plugin (am-impact/amcommand#33). What other plugins do you have installed (I can't replicate it using a fresh install with no other plugins)?

[2018-01-26 10:45] lukeyouell commented on #84
@Tam I have the following plugins installed

<img width="1051" alt="image" src="https://user-images.githubusercontent.com/24975058/35436357-fe6a23d4-0285-11e8-9269-1766ad56973c.png">

[2018-01-26 10:48] lukeyouell commented on #84
@Tam I created a map field after disabling 'XML Sitemap', which lead to no error being thrown...

[2018-01-26 11:05] lukeyouell commented on #84
If I install 'XML Sitemap' *after* creating the field, everything is fine.

[2018-01-26 11:22] Tam commented on #84
I've submitted a pull request to the XML Sitemap repo which should fix the issue, and mean you don't need to mess about with the load order of the plugins to prevent the error!

[2018-01-26 11:24] lukeyouell commented on #84
Cheers @Tam - love the plugin!

[2018-01-26 14:38] #76 closed, assigned to nobody

[2018-01-29 11:08] #84 closed, assigned to nobody

[2018-01-30 15:41] riasvdv opened #85 "Call to a member function getMap() on null"
### Description
After configuring the fieldtype I get the following error:

![afbeelding](https://user-images.githubusercontent.com/3626559/35575297-4b8fc99e-05dc-11e8-8b1e-e7da2061d657.png)

It seems that `SimpleMap::$plugin->getMap()` returns `null`

### Steps to reproduce

1. Install plugin through plugin store
2. Add a field with Simplemap
3. Encounter error?

### Additional info

- Craft vers

[2018-01-30 15:52] #85 closed, assigned to nobody

[2018-01-30 17:38] Tam commented on #67
Closing this due to lack of feedback.

[2018-01-30 17:38] #67 closed

[2018-01-30 17:38] #62 closed

[2018-01-31 17:12] Tam opened #86 "[FR] Add helper to calculate distance between location"
Also add the `distance` param to the docs!

[2018-02-02 06:21] Stalinko opened #87 "Saving always fails when SimpleMap field is set required"
I have an entry with a field "Location" type SimpleMap.
This field is set "required" in the entry field layout.
This field has a value, it's not empty.

But when I simply fetch a model from DB, change any other simple field and try to save it it always fails with "Location cannot be empty." error.

See this code:

[code]

I tried to dig into craft/yii code. It uses "getContent()->$field" value for

[2018-02-02 10:23] Tam commented on #87
SimpleMap stores its data relationally, meaning it's not stored in the main content table (similar to how matrix stores its data). Craft 2 has an issue where it doesn't re-save relational data when saving programatically. You'll have to manually handle re-setting these fields when saving.

Something like
[code]
*might* work. If not you'll have to manually re-pass the value to the map field.

[2018-02-04 18:05] mikezens opened #88 "Distance Ordering Incorrect"
### Description

I'm running into an issue when trying to order by distance. I've included a screentshot of the output issue, the third item, "Locsha Pipeline Wave", is 60mi away and the fourth item, "Zero Wave" is only 37mi away.

<img width="1411" alt="screen shot 2018-02-03 at 10 14 41 pm" src="https://user-images.githubusercontent.com/6498265/35780603-29fefff8-099b-11e8-80d0-487e5b372a40.png">

[2018-02-06 05:03] mikezens commented on #88
Nevermind, I just realized I had `orderBy` instead of `order`

[2018-02-06 05:03] #88 closed, assigned to nobody

[2018-02-09 02:40] JimboM4CK commented on #78
2nd this, it seems to be stripping subpremise, so I can't select the unit or room number.

[2018-02-19 18:59] mikestecker opened #91 "[Request] Get API Key from config/simplemap.php"
### Description

I'd love the ability to save my API key in a config file instead of having to put in the settings. This way I can store my API key in my .env file and use it for multiple plugins that share the same key.

### Additional info

- Craft version: Craft 3 RC10.1
- SimpleMap version: 3.3.1
- PHP version: 7.1

[2018-02-20 10:00] tigerchick opened #92 "Error upon saving in Craft 2.6.3009"
### Description
When saving an entry with a Simplemap field (in Matrix - untested outside of a Matrix), the following error is given:
Internal Server Error
array_key_exists() expects parameter 2 to be array, null given

### Steps to reproduce

1. Update to latest Simplemap version 1.8.2
2. Update to latest Craft 2 version -  2.6.3009
3. Save entry with simplemap field

### Additional info

- Craft

[2018-02-20 15:39] petehjfd opened #93 "FR: Add an option to 'clear' the field after it has been populated"
### Description
I'm outputting entries as map markers on the front-end. I only want to show a map marker if the map field has been completed.

However, once a location has been selected, it doesn't seem to be possible to clear the field. There's no way to return that field to being empty. So once an entry has been assigned to a location, it can never not be assigned to a location.

Unless I'm miss

[2018-02-21 02:23] taylordaughtry commented on #92
I'm seeing this as well on Craft 2.6.2988 with SimpleMap version 1.8.2, with the SimpleMap field outside any Matrix field; simply the usual field on an entry.

Digging in, it looks like the `$data` value being provided from the `SimpleMap_MapFieldType` content is `null` when it's being saved, which is why it's throwing an error. I haven't looked into it enough to know exactly _why_ that is. The fi

[2018-02-22 17:34] tigerchick commented on #92
That's brilliant Taylor - thank you for looking into this. Hopefully your solution will be merged quickly.

[2018-03-02 15:34] #87 closed, assigned to nobody

[2018-03-05 11:38] #92 closed, assigned to nobody

[2018-03-05 11:54] #91 closed, assigned to nobody

[2018-03-13 09:58] iparr opened #95 "Upgrading Craft 2 -> 3 whilst keeping map data"
### Description

We have been happily using the Craft 2.x version of this plugin. I am in the process of upgrading the website to Craft 3. This has gone well so far, and all content has been ported over apart from that which is facilitated using this plugin (although in all fairness, I don't utilise any plugins that are responsible for fields).

I'm after for a way to migrate this map content from

[2018-03-13 19:32] ostark opened #96 "Simplemap breaks ResaveElements job"
### Description

When Craft's ResaveElements job is handled by console queue `craft queue/run` or [my little plugin](https://github.com/ostark/craft-async-queue/) which does basically the same, and a simplemap field involved, it failes to execute that job as `Request::getIsPost()` does not exist on the console.

### Steps to reproduce & Additional info

https://github.com/ostark/craft-async-queue/

[2018-03-13 20:24] #96 closed, assigned to nobody

[2018-03-13 20:24] Tam commented on #96
Fixed!

[2018-03-13 20:26] ostark commented on #96
Thanks @Tam!

[2018-03-16 09:30] nfourtythree commented on #96
Hey @Tam thanks for fixing this, it popped up on a project I am currently working on.

Is it possible to push a release for this so I can `composer update` it?

Thanks!

[2018-03-16 10:10] Tam commented on #96
Ha, whoops! I've pushed a new release

[2018-03-16 10:17] nfourtythree commented on #96
Thanks!

[2018-04-08 22:34] AdamVig commented on #92
@Tam I am experiencing this same problem on SimpleMap version `3.3.3` with Craft `3.0.1`. Can you merge the fix into the `v3` branch as well?

[2018-04-11 13:42] jannisborgers commented on #92
I’m still receiving the same error with SimpleMap 3.3.3 and Craft 3.0.2.

[2018-04-16 12:47] Tam commented on #92
@AdamVig @jannisborgers I've just tested saving a map in a matrix and was unable to re-create this error. If this is still an issue, could you open a new issue and include the error message you are seeing?

[2018-04-18 01:48] AdamVig commented on #92
@Tam Thanks for your reply. The plugin is now working for me.

It looks like a recent Craft update fixed it, because that is the only thing that has changed since I originally commented.

[2018-04-26 12:35] skramstad opened #98 "Sample code for rendering multiple maps on the same page"
### Description

Is there a sample code I can use to render multiple maps on the same page?

### Additional info

- Craft version: Craft 3.0.2
- SimpleMap version: 3.3.3

[2018-05-01 08:41] alexbech opened #99 "FR: option to pass in simplemap field as location in query"
It would be nice if we could pass a simplemap field as location param in a query rather than having to create an object with lat/lng.

Now I have to do:
[code]

And it would be nice to be able to do this:
[code]

[2018-05-01 08:42] alexbech commented on #99
Thanks for a great plugin btw!

[2018-06-03 19:50] jonsuther commented on #49
I am also having this issue, but maybe I just don't know what I'm doing because I am a noob.

This is what I'm using:

{{ entry.locationAddress.parts.street_address }}

and this is what I'm putting in the field: 2831 15th St NW, Washington D.C., DC 20009, USA

What I want to display is:

2831 15th St NW, Washington D.C., DC

Basically just want street, city, state

[2018-07-03 23:17] luizhv opened #100 "Coordinates stopped to load in twig templates"
### Description

After update craft 2 and simple map plugin, coordinates stopped to load in twig templates, I can see the coordinates in the CP and if I click to save, it saves and the coordinates for that entry comes in twig, but the problem is that I have 850 entries, I tried to change the section to re-save all entries, it re-saves all the entries but I still can't see the coordinates in twig,

[2018-07-24 09:33] samhibberd opened #101 "Support for Craft required fields"
It would be great if you could add support Craft required fields when no value is submitted, hopefully you can achieve with the the 'isValueEmpty' method in the field class?

[2018-07-31 07:58] Pautomagi commented on #95
Ive been having the same issue.

My workaround for now was to export all the rows in `craft_simplemap_maps` into a text editor.

Wrap every line in `( ),` so it looks something like this :

[code]

Then what you do is you remove the first column on each line, which corresponds to the ID in the old table.
( I used a regex like this `^([^,]+), ` and replace with `(`

Next up you want to do a find re

[2018-08-23 07:14] limesquare-nl opened #102 "Craft 3 add Simple Map in entry through plugin"
### Description
Can't add Simple Map entry through plugin in Craft CMS 3. I've found on stackexchange a post with the solution.

### Steps to reproduce

1. [Link](https://craftcms.stackexchange.com/questions/25331/craft-3-add-simple-map-in-entry-through-plugin)

### Additional info

- Craft version: 3.0.21
- SimpleMap version: 3.3.3
- PHP version: 7.1.17
- Database driver & version: MySQL 5.5.60

[2018-08-23 08:55] rungta opened #103 "Save `place_id` in `parts`?"
### Description

The [Geocoding API documentation][docs] says that it also returns a `place_id` as part of its results. Is this discarded from the results before it is cached in the `parts` object? Will it be possible for this to be made available?

[docs]:https://developers.google.com/maps/documentation/geocoding/intro#Results

### Steps to reproduce

1. Create a new SimpleMap field
2. Save an en

[2018-09-10 12:00] rungta opened #105 "Add support for eager-loading"
### Description

It would be great if we could eager-load SimpleMap fields [using the `with` parameter on element queries](https://docs.craftcms.com/v3/dev/eager-loading-elements.html).

### Steps to reproduce

1. Create a SimpleMap field called `myMapField`
2. `{{ dump(craft.entries.with(['myMapField']).one()) }}`

[2018-09-10 19:44] Tam commented on #105
SimpleMap can't be eager-loaded because it doesn't use an element type to store its data.

[2018-09-10 19:44] #105 closed, assigned to nobody

[2018-09-10 20:34] Tam commented on #105
To expand on this a bit, SimpleMap doesn't need eager loading since its data is loaded as part of the initial element query (similar to the data being loaded from the content table). Changing this to an element based method (à la matrix blocks) would add more complexity and overhead (more SQL queries), likely increasing the execution time.

[2018-09-11 06:11] rungta commented on #105
Ah okay, makes sense. Thanks for explaining. :)

[2018-09-11 11:42] outline4 commented on #95
any news on this?

[2018-09-12 08:45] bymayo opened #106 "Use Mapbox in CMS instead of Google Maps"
### Description

It would be good if you could use Mapbox as opposed to Google Maps in the CMS. I know it's an option for front end, but it would be good if existed in the CMS also.

The main reason for this is that Google Maps recently changed their pricing and it has become too costly for our clients. (11,000 requests per month for Google Maps as opposed to 50,000 requests per month for Mapbox f

[2018-09-13 10:08] limesquare-nl commented on #102
Any updates on this one?

[2018-09-14 15:32] maxstrebel opened #107 "Simple Map query only works for current section"
### Description
When I query entries by distance, only entries related to the current section appear. I can't wrap my head around this. Is this an error?

### Steps to reproduce

1. `{% set closest = craft.entries.simplemap({
          location: { 'lat': entry.simplemap.lat, 'lng': entry.simplemap.lng }
        }).orderBy('distance').all() %}`
2. I get all entries from the current section that mat

[2018-09-14 15:42] Tam commented on #107
Weird, I can't re-create this. I take it your map field has the handle `simplemap`?

[2018-09-14 16:07] maxstrebel commented on #107
Yes, the handle is simplemap and the same field is used in both sections.

So quering across sections should work, right?

[2018-09-14 16:14] Tam commented on #107
It does in my tests, and there's no reason why specifying a section would stop it from working.

Can you confirm the following:
1. `anotherSection` has the `simplemap` field
2. `entry` is the same in both examples
3. Getting all entries without specifying a section returns entries from `anotherSection`

[2018-09-14 17:04] maxstrebel commented on #107
Sorry, my bad. I just changed the field handle and it works now. I don't understand how this could be a problem but now it works. Sorry for bothering you and thank you for your time!

[2018-09-14 17:04] #107 closed, assigned to nobody

[2018-09-26 10:36] samjoneill opened #108 "Field broken by dispatchEvent in IE11"
### Description

Instance of `dispatchEvent` in callback function on line 201 of `SimpleMap_Map.js` breaks map fields in IE11.

Resolved by replacing function with:

[code]

### Additional info

- Craft version: 3.0.25
- SimpleMap version: 3.3.4
- PHP version: 7.1.21

[2018-10-04 09:58] jonXmack commented on #95
After messing around with @Pautomagi's suggestion and getting nowhere I went a different route and just copied it all over, table to table...

[code]

cc @outline4 if you're still having a hard time

[2018-10-08 20:46] jeroenlammerts opened #110 "Location disappearing in combination with Matrix field (manage blocks on per site basis)"
### Description

Simplemap location will be empty when using it in a matrix field and change the option "manage blocks on per site basis" after adding content. I have multiple sites installed: dutch and english.

Note:
I have the same issue with the supertable plugin, https://github.com/verbb/super-table/issues/203
All default craft fields do not have this problem

### Steps to reproduce

1. Creat

[2018-10-10 07:57] limesquare-nl commented on #102
Any update on this one? The problem is that you can only set a 'map' field in a plugin through a POST request. It would be better if you check if $value is set.

[2018-10-10 16:42] rogertinch opened #111 "Parts not available via CraftQL"
Using CraftQL to expose address data using this plugin, but it doesn't look like `parts` data is coming through.

### Steps to reproduce
1. Install plugin
2. Add Google API key with no restrictions
3. Create field with the following settings:
- Restrict by Country: United States
- Restrict by Type: Precise Address
4. Create CraftQL query:
[code]
5. Query returns:
[code]
### Additional info
- Craft

[2018-10-16 15:04] admench commented on #18
For what it's worth, if anyone comes across this issue, I found the underlying problem: you have to enable both the 'Maps Javascript API' and 'Geocoding API' for the particular API keys used by Simple Map.

https://support.google.com/googleapi/answer/6158841?hl=en

[2018-10-23 09:28] shornuk opened #112 "Compatibility with Feedme"
Hi,

Verbb has updated Feedme in the latest beta to include support for importing into Simplemap fields. (Something we've got a requirement for with a few sites.)

They mention that there is an issue, see here...
https://github.com/verbb/feed-me-helpers/issues/5#issuecomment-432108347

Any chance this can be addressed to make importing into Simplemap work? Thanks! 👍

[2018-10-23 10:20] engram-design commented on #112
More than happy to be part of the conversation to explain the issue. I've tried my best to explain:

Essentially, its these lines:
https://github.com/ethercreative/simplemap/blob/v3/src/services/MapService.php#L159-L162
That overwrite the element (the owner entry's) content unless its a direct post request, which in this case, its not. Therefore, that code will create a blank, empty model rather t

[2018-10-25 00:18] brandonkelly commented on #110
Have a hunch that craftcms/cms@c017661317cbf1bcedc4ee7d16d8657bcbccde26 fixed this.

[2018-10-25 18:38] KatieMFritz opened #113 "Parts no longer working?"
### Description
Several months ago, I set up an address field and used parts to format it. I noticed a couple months ago that while the map was still displaying correctly, the address wasn't showing up in my template. Today I did some troubleshooting, and I can show the full address with `{{ myfield }}` and list an empty array of `parts` labels, but I don't get actual data for any parts. I tried f

[2018-10-25 18:39] KatieMFritz commented on #111
Possibly related: #113

[2018-10-25 19:43] NickToye opened #114 "Geocoder failed as a result of REQUEST_DENIED"
I am working on localhost, and I have even removed all restrictions from my API key just to see if I can get this to work.

### Steps to reproduce

1.  I have a map field setup as a global.
2. I go to put in my address and I get the above error.

### Additional info

- Craft version: 3.0.28
- SimpleMap version: 3.3.4
- PHP version: 7.1.12
- MySQL 5.6.38

[2018-10-25 20:57] Tam commented on #114
Can you confirm that you have the geocoding API enabled on your API key. You'll also need billing enabled the project your API key is from.

[2018-10-25 22:13] NickToye commented on #114
Yeah that's got it.  Rookie error.

[2018-10-26 07:03] #114 closed, assigned to nobody

[2018-11-16 13:39] riasvdv opened #115 "Support for multisite is broken"
### Description
The field doesn't support multisite.

### Steps to reproduce

1. Add an address in an entry in one site
2. Change it in the other site
3. It's also changed on the first site

[2018-11-16 16:26] McCrisp opened #116 "Map not working when editing entry"
Hi,

I cant seem to get maps working in the CP.
Our api project is up and running, everything seems ok on google console.

The map displays, but we can not search for locations, we get the following error in browser console:

`This API project is not authorized to use this API. Please ensure this API is activated in the Google Developers Console: https://console.developers.google.com/apis/api/plac

[2018-11-30 10:30] monachilada commented on #115
+1

[2018-12-03 01:29] evanwarner commented on #113
I'm just using SimpleMap for the first time and I encountered this exact issue. I think I've found the culprit:

Google's Geocoding and Places APIs are both categorized as [Web Service APIs](https://developers.google.com/maps/apis-by-platform#web_service_apis). These APIs **cannot** be accessed with API keys that have HTTP referrer restrictions; [only IP restrictions](https://developers.google.com

[2018-12-03 01:32] evanwarner commented on #111
@tinchalamo I think I've solved this one. See my [comment](https://github.com/ethercreative/simplemap/issues/113#issuecomment-443562759) on #113.

[2018-12-03 02:40] #111 closed, assigned to nobody

[2018-12-03 18:30] jdsimcoe commented on #106
@bymayo It looks like this plugin just uses the Google Maps API to do lookup and store the LatLong entries in Craft. Per the site's instructions it shows how you can integrate with Mapbox:

https://github.com/ethercreative/simplemap/blob/v3/README.md

[2018-12-04 10:26] bymayo commented on #106
@jdsimcoe Yeah, it would just be good to have the option to choose the map API (Whether this is Mapbox or Google Maps) that displays in the admin field.

We're outputting the Mapbox map on the front end, but this still requires us to have Google Maps API key for just the admin area.

[2018-12-04 17:19] jdsimcoe commented on #106
@bymayo agreed.

[2018-12-05 20:29] bryantAXS commented on #116
I'm running into this issue as well. Any thoughts on this?

[2018-12-06 07:06] alexjcollins commented on #116
So after you created your project did you add the following APIs to it?
- Maps Javascript API
- Geocoding API
- Places API

The error doesn't suggest it, but it might also bee worth checking your credentials to see if you've restricted your API key so that it doesn't work.

[2018-12-06 23:38] evanwarner opened #117 "Duplicate set returned when querying by distance"
### Description
Running an entry query with a distance search included gives me a resulting set of entries that has two of each. If my entry query has a `limit` parameter, that limit is honored, but still the limited set is doubled.

### Steps to reproduce

[code]
This correctly finds the three nearest entries within 500 miles, but returns a set of 6, with two of each entry.

### Additional info

[2018-12-18 21:35] alexjcollins commented on #116
@McCrisp @bryantAXS Hey both, did you manage to resolve your issues or are you still running into problems?

[2018-12-19 15:11] bryantAXS commented on #116
@alexjcollins yeah it looks like it's resolved for me. There must be a fairly significant delay after you set up your API key. I was probably testing for an hour or two after installing it and still seeing the issue. Now though it looks to be working on a few different projects that were previously erroring.

Thanks!

[2018-12-19 15:15] alexjcollins commented on #116
@bryantAXS Glad to hear it! :)

[2018-12-19 15:15] #116 closed, assigned to nobody

[2019-01-22 04:46] AugustMiller opened #119 "Despite pseudo-eager fetching, Elements still generate DB queries on instantiation"
### Description

When Elements are instantiated, it appears as though `normalizeValue()` dips back into the DB—this is causing N+1 queries, even inside a loop of eager-loaded elements.

This happens prior to any uses of the Elements—as soon as the query is executed, the Elements are created, and the SimpleMap field is "normalized."

I figured there would be enough information pulled through the mo

[2019-02-12 01:17] bighoho123 opened #120 "MySQL column not found when orderBy distance for Solspace Calendar events"
### Description
When  #using SimpleMap plugin along with Solspace Calendar, I found an issue when trying to order the events based on the distance.

### Steps to reproduce
1. Setup events in Solspace Calendar with SimpleMap field
2. The following code will throw an exception
[code]

### Additional info

![Error Image](https://user-images.githubusercontent.com/7004799/52604503-08a05c80-2ebb-11e9-84

[2019-02-17 09:06] #120 closed, assigned to nobody

[2019-02-28 21:18] LouisCuvelier commented on #113
@evanwarner is this still working ?

I'm not able to get parts even with your solution 😕

[2019-03-01 01:14] evanwarner commented on #113
@LouisCuvelier it's still working for me.

[2019-03-01 12:11] MarkOlijslagers opened #123 "part street_address empty"
### Description
The output for {{ entry.addressField.part.street_address }} doesn't return the correct value.
After looping through the parts with a for-loop, i saw the value was returned by the part route {{ entry.addressField.part.route }}.

Is this filed mapped wrong in the plugin?

### Additional info
- Craft version: 3.1.15
- SimpleMap version: 3.3.5
- PHP version: 7.2

[2019-03-02 22:16] LouisCuvelier commented on #113
@evanwarner just to be sure, am I doing right ?

**Google Maps API Key** : HTTP referrer only
- Maps JavaScript API
- Geocoding API
- Places API

**Alternate Server API Key** : IP only
- Geocoding API

[2019-03-07 06:32] evanwarner commented on #113
@LouisCuvelier Nope, set it up this way:

**Google Maps API Key :** HTTP referrer restricted
- Maps JavaScript API

**Alternate Server API Key :** IP restricted (or no restriction)
- Geocoding API
- Places API

[2019-03-07 16:50] LouisCuvelier commented on #113
This is working. Thanks !

[2019-03-14 13:26] shoored commented on #123
I seem to have the same issue, but all parts return empty.

### Additional info

- Craft version: 3.1.17.2
- SimpleMap version: 3.3.5
- PHP version: 7.2

[2019-03-14 13:49] cole007 commented on #115
Experienced similar problem - worked out a local fix but obviously needs rolling out to the codebase:

1. need to update `src/fields/MapField.php` to include the following in the `MapField` class:

[code]

See, for example, https://github.com/craftcms/cms/blob/develop/src/fields/Matrix.php#L57

2. a translation setting is then required in the `src/templates/field-settings.twig` template. However,

[2019-03-19 15:57] chrisrowe commented on #115
+1

[2019-03-19 17:12] BridgingUnit opened #124 "[FR] Field has default values hardcoded - abstract to settings"
SimpleMap 3.3.5

/src/fields/MapField.php has lat, lng, zoom, height all hardcoded as public variables.

These get used to generate the default map view, both that seen in the field's settings (where they can be overridden if you manually recenter it), but also, if that's not overridden, in the map shown in an entry which has the field too.

It'd be great if these could instead be configured via p

[2019-03-20 10:56] Tam commented on #123
We've reworked how parts works in the latest update ([3.4.0](https://github.com/ethercreative/simplemap/releases/tag/3.4.0)) which should help resolve your issue.

[2019-03-20 10:56] #123 closed, assigned to nobody

[2019-03-20 10:56] Tam commented on #119
Fixed in the latest release ([3.4.0](https://github.com/ethercreative/simplemap/releases/tag/3.4.0)).

[2019-03-20 10:56] #119 closed, assigned to nobody

[2019-03-20 10:57] Tam commented on #117
Can you try again with the latest release ([3.4.0](https://github.com/ethercreative/simplemap/releases/tag/3.4.0)) and let me know if it's still an issue?

[2019-03-20 10:57] Tam commented on #115
This should be fixed in the latest release ([3.4.0](https://github.com/ethercreative/simplemap/releases/tag/3.4.0)).

[2019-03-20 10:57] #115 closed, assigned to nobody

[2019-03-20 10:58] Tam commented on #113
We've reworked how parts work in the latest release ([3.4.0](https://github.com/ethercreative/simplemap/releases/tag/3.4.0)) which should help resolve your issue.

[2019-03-20 10:58] #113 closed, assigned to nobody

[2019-03-20 10:59] Tam commented on #106
You can now use Mapbox, Apple MapKit, OpenStreetMap, Wikimedia maps, Here, and Carto as well as Google Maps in the latest release ([3.4.0](https://github.com/ethercreative/simplemap/releases/tag/3.4.0))!

[2019-03-20 10:59] #106 closed, assigned to nobody

[2019-03-20 11:01] Tam commented on #103
We've updated the plugin to work with various other mapping services, and since this is very specific to a single service we won't be adding support for it.

[2019-03-20 11:01] #103 closed, assigned to nobody

[2019-03-20 11:01] #101 closed, assigned to nobody

[2019-03-20 11:02] Tam commented on #95
We've added an actual migration path from Craft 2 to 3 in the latest release ([3.4.0](https://github.com/ethercreative/simplemap/releases/tag/3.4.0)).

[2019-03-20 11:02] #95 closed, assigned to nobody

[2019-03-20 11:03] Tam commented on #78
You can now manage the address parts in the latest release ([3.4.0](https://github.com/ethercreative/simplemap/releases/tag/3.4.0)).

[2019-03-20 11:03] #78 closed, assigned to nobody

[2019-03-20 11:03] Tam commented on #42
We've updated the plugin to work with various other mapping services, and since this is very specific to a single service we won't be adding support for it.

[2019-03-20 11:03] #42 closed

[2019-03-20 14:11] MarkOlijslagers commented on #123
Thanks,nice job!

[2019-03-20 14:27] lukeyouell opened #125 "3.4.1 bricks the CP"
### Description

After updating from 3.4.0 to 3.4.1 the CP is inaccessible due to the following plugin error being thrown:

[code]

Stack trace:

[code]

### Additional info

- Craft version: 3.1.19
- SimpleMap version: 3.4.1

[2019-03-20 14:32] Tam commented on #125
Fixed in 3.4.2

[2019-03-20 14:32] #125 closed, assigned to nobody

[2019-03-20 14:51] alexjcollins opened #126 "Error on Saving Address"
### Description
via [@avantlettre](https://twitter.com/avantlettre) on Twitter https://twitter.com/avantlettre/status/1108379190427041792

### Error
`SQLSTATE[23000]: Integrity constraint violation: 1048 Column 'elementId' cannot be null`

The SQL being executed was:
[code]

[2019-03-20 14:54] alexjcollins commented on #126
@ogilv Would you be able to paste a Stack Trace?

[2019-03-20 14:59] ogilv commented on #126
[code]

[2019-03-20 15:02] Tam commented on #126
@ogilv Are you using Google as your geo-service, or something else?

[2019-03-20 15:08] ogilv commented on #126
@Tam Yes, I do use the Google API. But I just switched to the opensource defaults, and got the same error again.

[2019-03-20 15:12] ogilv commented on #126
Two factors that might be of importance:
- There was an error on update that I could not resolve via control panel, but after deleting the single test entry in the `simplemaps` table, I could proceed and finish the update.
- My custom field belongs to a user, not a regular entry.

[2019-03-20 15:13] Tam opened #127 "Compatibility issue w/ cp-field-inspect"
Trying to get property 'map' of non-object when `cp-field-inspect` plugin is installed. (MapField.php:353)

[2019-03-20 15:20] Tam commented on #126
Could you share the template code where you're outputting the map in `rubriken/_entry`?

[2019-03-20 15:29] ogilv commented on #126
Oh, I just noticed I posted the frontend stacktrace above, although the error is seen first in the control panel, after the location has been found and I try to save the entry:

[code]

[2019-03-20 15:32] chasegiunta opened #128 "Not compatible with CP Field Inspect plugin"
### Description
Either installing CP Plugin Inspect or installing Maps with CP Plugin Inspect already installed will throw this error in the control panel and cause it to be unaccessible.

[code]

### Additional info

- Craft version:
- SimpleMap version: 3.4.2

[2019-03-20 15:33] chasegiunta commented on #128
Oops, dupe of #127 - closing and pasting stack trace there.

[2019-03-20 15:33] #128 closed, assigned to nobody

[2019-03-20 15:33] chasegiunta commented on #127
[code]

[2019-03-20 15:34] ogilv commented on #126
The template code is as follows:

[code]

The `simplemaps` table is empty, since I have not been able to save any location field data to it (but before the update, this did not produce an error on the frontend).

[2019-03-20 16:05] #99 closed, assigned to nobody

[2019-03-20 16:05] #126 closed, assigned to nobody

[2019-03-20 16:05] #127 closed, assigned to nobody

[2019-03-20 16:08] #32 closed

[2019-03-20 16:08] #86 closed, assigned to Tam

[2019-03-20 16:10] Tam commented on #100
We're not really supporting Craft 2 anymore, but it is now possible to upgrade Maps from Craft 2 to Craft 3 in the latest release (3.4.x).

[2019-03-20 16:10] #100 closed, assigned to nobody

[2019-03-20 16:11] Tam commented on #102
You should be able to set the properties of the map field as you would any other field in craft. I'd recommend updating to the latest release, which has re-worked how the data is saved.

[2019-03-20 16:11] #102 closed, assigned to nobody

[2019-03-20 16:38] Tam commented on #108
Fixed in 3.4.x

[2019-03-20 16:38] #108 closed, assigned to nobody

[2019-03-20 16:39] Tam commented on #110
@jeroenlammerts Is this still an issue? Might be worth updating to the latest version as well.

[2019-03-20 17:42] Tam commented on #124
The latest release (3.4.x) allows you to search for a default location. We're not going to put the default field values in the plugin settings since you're supposed to set them on a per-field basis.

[2019-03-20 17:42] #124 closed, assigned to nobody

[2019-03-20 18:40] elfacht opened #129 "Update from 3.3.5 to 3.4.3 eleminates all the data"
### Description

Update from 3.3.5 to 3.4.3 kills all the data and leave the fields empty. On a website with more than 100 entries using this field this is a bit of a hazzle. Is there any chance to keep the data and updating the plugin?

[2019-03-20 18:50] alexjcollins commented on #129
Hey @elfacht It shouldn't be doing that so we'll definitely check that out for you. Did you get any errors during or after the update?

[2019-03-20 18:53] elfacht commented on #129
Hey @alexjcollins thanks for having a look. I didn't get any errors, I just did it simultaniously with an Craft update from 3.1.17.1 to 3.1.19.

[2019-03-20 22:22] bymayo commented on #106
@Tam Oh jeeeeez this is a big game changer 💯 We needed a Mapbox field last week for a project, and ended up hacking around it... 👍

[2019-03-20 22:26] jdsimcoe commented on #106
@Tam @bymayo Seriously! I just hooked up a custom Apple MapsKit map embed on my site. So slick! I really hope you support templating for all the of the main map platforms (including MapKit).

[2019-03-21 07:45] alexjcollins opened #130 "Migration Faliure"
### Description

Running latest update.
-----------------------------------------------------------
[code]
Migration: ether\simplemap\migrations\m190226_143809_craft3_upgrade

Output:

[code]

[2019-03-21 07:49] alexjcollins commented on #130
@chadcrowell I hope you don't mind, but I've created an issue for your support email so it's easier for us to manage. Let me know if you require anything other than the addresses redacted from here. We'll be in touch if we need any extra info.

[2019-03-21 12:42] martinleveille opened #131 "Center to the initial location without marker and clear the address/marker"
It would be great if the map could be centered to the initial location without a marker. This will clearly indicate to the user that there is no saved address for that field and it will also not populate by default the `lat` and `lng` of the initial location.

Also we need an option to clear the address/marker/lat/lng/parts from the map, like this feature request #93

Right now, we do not have a c

[2019-03-21 13:06] martinleveille opened #132 "Location search field is empty when only showing this field"
When you only show the Location search field, there is no way for a user to know if an address is already saved with these settings:

- hideSearch: false
- hideMap: true
- hideAddress: true

If an address is already saved in the Map field, there is no clue to know what address already exists.

### Additional info

- Craft version: 3.1.19
- SimpleMap version: 3.4.3

[2019-03-21 17:07] jamesmacwhite opened #133 "Craft 2 map field migration unknown property: ether\simplemap\records\Map::elementId"
### Description

After updating to the latest version of the Maps plugin. The Craft 2 migration code fails with the following error:

[code]

### Steps to reproduce

1. Have an existing SimpleMap field from Craft 2 placed on an entry
2. Upgrade to v3.4.3
3. Migration runs to update the existing Craft 2 SimpleMap field data and fails with the above.

### Additional info

- Craft version: Craft Pro

[2019-03-21 17:09] mhulet commented on #130
I have the same issue upgrading from 3.3.5 to 3.4.3.

[code]

[2019-03-21 17:23] Tam commented on #98
Maps _currently_ doesn't handle rendering maps on the front-end. There are some examples of how to output maps in the readme (https://github.com/ethercreative/simplemap#displaying-a-map) but how you output the map really depends on the service you want to use. I recommend checking the docs of your choosen service or searching on StackOverflow for examples.

[2019-03-21 17:23] #98 closed, assigned to nobody

[2019-03-21 20:02] elfacht commented on #129
Maybe this helps:

**Before the update:**

![Screenshot 2019-03-21 um 20 51 27](https://user-images.githubusercontent.com/529443/54780923-4e1f1a80-4c1b-11e9-8195-abe7210431f8.jpg)
![Screenshot 2019-03-21 um 20 51 37](https://user-images.githubusercontent.com/529443/54780925-4eb7b100-4c1b-11e9-983a-4e2c676ad5e7.jpg)

**After the update**

![Screenshot 2019-03-21 um 20 52 19](https://user-images.git

[2019-03-22 13:42] bfopma commented on #133
I can confirm this issue -- following.

[2019-03-22 15:00] Tam commented on #129
@elfacht Did the update migration run successfully? Could you check the contents of your `simplemaps` table and ensure there's data there?

[2019-03-22 15:02] Tam commented on #133
@jamesmacwhite @bfopma Would either of you be able to share the contents of your `simplemaps` or `simplemap_maps` tables?

[2019-03-22 15:02] jamesmacwhite commented on #133
@Tam Happy to, where would you like me to send it?

[2019-03-22 15:03] Tam commented on #130
@mhulet Would you be able to share the contents of your `simplemaps` table?

[2019-03-22 15:03] Tam commented on #133
@jamesmacwhite dev@ethercreative.co.uk

[2019-03-22 15:07] jamesmacwhite commented on #133
@Tam Thanks DB export of the simplemap tables has been sent over.

[2019-03-22 15:17] mhulet commented on #130
@Tam Sure, here are the current records on my local instance, where the upgrade process is currently failing.

[code]

[2019-03-22 15:35] elfacht commented on #129
@Tam No errors, but all entries are getting new `dateCreated` and `dateUpdated` values (time of the update). And a new entry got created which has emtpy values:

[code]

Maybe it's the new type of the Array?

![Screenshot 2019-03-22 um 16 37 09](https://user-images.githubusercontent.com/529443/54834617-cbe93180-4cc0-11e9-9741-38c6ed2d5eb2.jpg)

[2019-03-22 16:59] Tam commented on #130
@mhulet Just released 3.4.4, can you try upgrading directly to it and let me know if it fixes your issues.

[2019-03-22 16:59] Tam commented on #129
@elfacht Just released 3.4.4, can you try upgrading directly to it and let me know if it fixes your issues.

[2019-03-22 18:50] BridgingUnit opened #134 "Error importing to via Feed Me: Access to undeclared static property"
Hi,

I'm getting an error running an import via Feed Me into a Map field.

The Feed Me log flags up the following error, and then bails out from any import at all:

Access to undeclared static property: ether\simplemap\SimpleMap::$plugin - SimpleMap.php: 94

Error suggests it's something here, but it might be something in Feed Me.... Apologies if that's so.

Thanks for any help.

Latest version of

[2019-03-22 22:42] engram-design commented on #134
@BridgingUnit Yep, best to keep this under Feed Me, as the implementation is with us. This can be closed and I'll follow up on the Feed Me repo.

[2019-03-23 02:04] martinleveille opened #135 "The MapQuery sometimes return null in multi-site"
### Description

When you are in a multi-site Craft using a section that do not propagate entries across all enabled sites, *sometimes* the MapQuery return null.

### Steps to reproduce

1. Install Craft and setup 2 sites.
2. Create a channel section and uncheck `Propagate entries across all enabled sites?`.
3. Create a Map field and add it to the section field layout.
4. Add an entry in that sect

[2019-03-23 02:35] martinleveille opened #136 "The Map field do not translate per site"
### Description

When you set the Map field to be translated per site, it do not translate.

### Steps to reproduce

1. Install Craft and setup 2 sites.
2. Create a channel section.
3. Create a Map field, select `Translate for each site` and add it to the section field layout.
4. Create an entry in that section and select an address in the Map field.
5. Edit the same entry for the second site and

[2019-03-23 16:06] martinleveille commented on #135
I did several tests and it's not necessarily when the option `Propagate entries across all enabled sites?` is unchecked. You can also have the same issue when your section is enabled for 1 site but not for the other.

For now, I will not use the new version of this plugin.

[2019-03-23 17:28] mattrothenberg opened #137 "Runtime Error – political_* fields not available"
### Description
I just upgraded to `3.4.4` from `3.3.4`, and my site is broken. I have a template where I read properties thusly, but these fields seem to have disappeared upon upgrading.

[code]
Even in the admin panel, where there used to be a complete field for **Event Location**, I'm now presented with a blank set of fields.

<img width="839" alt="Screen Shot 2019-03-23 at 1 25 55 PM" src="htt

[2019-03-23 18:16] #134 closed, assigned to nobody

[2019-03-23 20:07] BridgingUnit opened #138 "array_merge(): Argument #2 is not an array - MapService.php: 325"
I'm using Feed Me to populate entries which include a Simple Map field.

My feed only provides lat, lng and zoom. No address.

It looks like _populateMissingData() in MapService.php within Simple Map is running off to Google (in my build) via _addressFromLatLng_Google() in the GeoService.php and pulling back an object generated via line 812:

`			'parts' => new Parts($pos['address_components'], Ge

[2019-03-24 11:04] admanami opened #139 "Can't save location in CP"
### Description

After updating to Maps 3.4.4 can't save location in CP.

### Steps to reproduce

1. Add a location via the Maps field in an entry in the CP
2. Save the entry

Outcome: Craft shows an error, the location is not saved.

### Additional info

- Craft version: 3.1.19
- SimpleMap version: 3.4.4
- PHP version: 7.2.15
- Database driver & version: MySQL 5.7.25
- Other Plugins: Google cloud

[2019-03-25 08:26] elfacht commented on #129
@Tam Unfortunately not. The only data I can extract from the field are `lat`, `lng` and `zoom`. `parts` is not working anymore and still an empty entry will be created:

![Screenshot 2019-03-25 um 09 24 34](https://user-images.githubusercontent.com/529443/54904844-d897a080-4edf-11e9-938b-e303fc0bf6af.jpg)

My template before the update:

[code]

It doesn't throw any errors, they're just empty even

[2019-03-25 11:18] Tam commented on #129
Are existing maps (from before the upgrade) working correctly? Is it just new maps that error?

[2019-03-25 13:45] Tam commented on #93
Added in 3.4.6

[2019-03-25 13:45] #93 closed, assigned to nobody

[2019-03-25 13:48] Tam commented on #131
It's possible to drag the marker to select a location, hiding the marker would remove this functionallity so we won't be doing it. The field now always shows the full address (non-editable if the address fields are hidden) so it's clear whether the field has content or not.

[2019-03-25 13:48] #131 closed, assigned to nobody

[2019-03-25 13:49] Tam commented on #132
We're always showing the "full address" field non-editable if the address fields are hidden as of 3.4.6.

[2019-03-25 13:49] #132 closed, assigned to nobody

[2019-03-25 13:50] Tam commented on #133
This should be fixed as of 3.4.4, but I'd recommend updating to the latest release. Let me know if it fixes your issue.

[2019-03-25 13:51] Tam commented on #136
Fixed in 3.4.6

[2019-03-25 13:51] #136 closed, assigned to nobody

[2019-03-25 13:52] Tam commented on #137
Fixed in 3.4.6

[2019-03-25 13:52] #137 closed, assigned to nobody

[2019-03-25 13:53] Tam commented on #139
@admanami Can you upgrade to 3.4.6 and try again?

[2019-03-25 13:53] Tam commented on #138
Fixed in 3.4.6

[2019-03-25 13:53] #138 closed, assigned to nobody

[2019-03-25 13:55] jamesmacwhite commented on #133
@Tam I just updated to the latest release and the migrations have ran successfully.

[code]

Many thanks for fixing!

[2019-03-25 13:55] #133 closed, assigned to nobody

[2019-03-25 14:02] elfacht commented on #129
@Tam The bug occurs on all existing maps, but also the new map field doesn't save the data. But my biggest problem are over 100 existing entries with the map field.

[2019-03-25 14:04] Tam commented on #129
@elfacht Have you updated to 3.4.6 (just released) and tried again?

[2019-03-25 14:12] elfacht commented on #129
@Tam This worked!

But now new fields won't work proberly. They'll getting the suggestions and won't throw an error, but the DB input is empty:

![Screenshot 2019-03-25 um 15 09 13](https://user-images.githubusercontent.com/529443/54926190-19a7a900-4f10-11e9-8598-a20dc3490f86.jpg)

**Template**

![Screenshot 2019-03-25 um 15 09 19](https://user-images.githubusercontent.com/529443/54926192-19a7a900

[2019-03-25 14:15] Tam commented on #129
@elfacht Are you using Google Maps for geo-coding?

[2019-03-25 14:18] elfacht commented on #129
@Tam Yes, and the API key seems to work.

[2019-03-25 14:24] elfacht commented on #129
Now I'm getting JS errors in the CP when I try to clear the field:

[code]

~~Also:~~

[code]

~~It's a bit unclear which API used in which field. In the prior version I used the restricted and a non-restricted API key. Is this still nessesary?~~

**Update**

Before saving the entry:

![Screenshot 2019-03-25 um 15 36 16](https://user-images.githubusercontent.com/529443/54928165-cb94a480-4f13-11e9-

[2019-03-25 14:40] Tam commented on #129
Just released 3.4.7 which should fix the JS issues / missing address parts. Do you have any other plugins that use the Google Maps JS API? Maps will only include it once, no matter how many fields are on the page so it's most likely another plugin including it as well.

[2019-03-25 14:47] elfacht commented on #129
Thanks, that worked! `route_short` is deprecated now? Using `route` should be fine for me.

[2019-03-25 14:48] Tam commented on #129
Technically any parts that don't appear on the address fields inputs are deprecated, but they all still work for the sake of backwards compatibility. The availablilty of those parts is down to the whim of Google and what data they return.

[2019-03-25 14:48] #129 closed, assigned to nobody

[2019-03-25 15:04] elfacht opened #140 "Migration failure: Undefined index"
Hi, while migration to production (staging worked fine) I got this while migration:

[code]

[2019-03-25 15:13] elfacht commented on #140
Ok, this is deprecated. Somehow it worked anyway. Sorry for bothering.

[2019-03-26 00:18] #135 closed, assigned to nobody

[2019-03-26 10:12] Tam opened #141 "Maps not propagating"
Maps don't propagate across sites.

[2019-03-26 10:24] rensverschuren commented on #70
Doesn’t seem to be fixed for Postgres. Could anyone point to a solution? Many thanks!

[2019-03-26 12:46] jamesedmonston opened #142 "3.4.4 -> 3.4.7 migration error"
### Description

Updating from 3.4.4 -> 3.4.7 causes a migration error.

[code]

### Additional info

- Craft version: 3.1.19
- SimpleMap version: 3.4.4
- PHP version: 7.3.2
- Database driver & version: Postgres 11.2
- Other Plugins:

[2019-03-26 14:16] rensverschuren commented on #70
Issue doesn’t seem to be resolved. Could anyone point to a solution? Many thanks!

Database used: PostgreSQL 11
Craft: 3.1.19
Simple Map: 3.4.7

Template code:

[code]

[2019-03-26 17:00] stphnmartin opened #143 "Installing 3.4.7 results in ParseError"
### Description
Installing Maps 3.4.7 via CP results in a ParseError. Process finishes the installation process, displays the success icon then this ParseError:

ParseError
syntax error, unexpected '=>' (T_DOUBLE_ARROW), expecting :: (T_PAAMAYIM_NEKUDOTAYIM)
↵
Caused by: ParseError
syntax error, unexpected '=>' (T_DOUBLE_ARROW), expecting :: (T_PAAMAYIM_NEKUDOTAYIM)
in ......./vendor/ether/simplem

[2019-03-26 21:40] engram-design commented on #143
Getting this as well.

According to the PHP docs for [list()](https://www.php.net/manual/en/function.list.php):
[code]

So I believe this is an incompatibility issue with PHP < 7.1. If you can update to PHP 7.1+ in the meantime, this should fix the issue

[2019-03-27 12:58] #140 closed, assigned to nobody

[2019-03-27 12:59] Tam commented on #143
Fixed in 3.4.8

[2019-03-27 12:59] #143 closed, assigned to nobody

[2019-03-27 12:59] Tam commented on #142
Fixed in 3.4.8

[2019-03-27 12:59] #142 closed, assigned to nobody

[2019-03-27 16:15] espensgr opened #144 "Add coordinates to pin"
I want to be able to place the marker with latitude and longitude, is that in the roadmap?
I'm working on a history project that don't have adresses to be able to search for, so would be great to have a lat lon field, like the search field.

[2019-03-27 16:27] espensgr opened #145 "Add leaflet tileLayer with custom tiles"
Would be nice to add custom tiles to the map like the [leaflet-extras](http://leaflet-extras.github.io/leaflet-providers/preview/index.html). It just uses [L.tileLayer](https://leafletjs.com/reference-1.4.0.html#tilelayer)

[2019-03-27 16:49] alexjcollins opened #146 "Option to disable scroll zooming"

[2019-03-28 10:18] alexjcollins opened #147 "Default location being saved to entry when no value is set"
### Description
When creating or saving an entry where no location has been set on the Map field, the Map field will save the default location.

### Steps to reproduce

1. Create an entry that uses the Map field
2. Save the entry without adding any information to the map field
3. The Map field will then show whatever is in your default location setting

[2019-03-28 12:07] rgbjay opened #148 "Base table not found after upgrade to 3.4.8"
When upgrading to 3.4.8 any entry that has a map field on it has now lost its data in the control panel and Craft/Yii is throwing an SQL exception when I try and load an entrys' template. I have over 800 entries that are affected by this too.

It looks like the table prefix is being ignored. I am using a prefix of 'dc_' and I can see that 'dc_simplemaps' exists in my database and has the data stil

[2019-03-28 14:05] rgbjay commented on #148
Ok, so on further investigation it is actually the proximity search code that seems to be causing the error.

I currently have the below code block pulling in entries that are (roughly) within walking distance of the current entry. It was working fine before the upgrade and is taken from the provided example (with some tweaks):

`{% set nearbyPlaces = craft.entries.section('businessDirectory').bus

[2019-03-29 10:57] rgbjay commented on #148
I've spent further time looking into this. It is definitely an issue with the table prefix not being added when MapRecord::TableNameClean is called.

When I change line 185 in MapService.php from

`$table = MapRecord::TableNameClean;`
to
`$table = 'dc_simplemaps';`

(my specific table name). The proximity function works as expected.

[2019-03-30 05:19] vandres opened #149 "Location lost in translation"
### Description
I have your map in a section. It is set to "not translatable". When I add a location and save it in the base language, the location in the other locales is empty.

### Steps to reproduce

1. add a locale e.g. "fr"
2. add a map in an entry in the base language and save it
3. location in locale "fr" is empty

### Additional info

- Craft version: 3.1.x
- SimpleMap version: latest
- P

[2019-03-30 14:55] chromadesign commented on #130
I am experiencing a similiar issue, the error message is: Integrity constraint violation: SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '170' for key 'PRIMARY'

[2019-03-30 16:17] vandres commented on #146
Please do that 👍

[2019-03-30 22:02] mattmesker commented on #130
Having the same issue as @chromadesign on update:

`Exception: SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '455' for key 'PRIMARY'`

[2019-03-30 22:07] mattmesker commented on #130
@chromadesign - I got the upgrade to work by deleting all rows remaining in the `simplemaps` table of your Craft database and re-running the update.

[2019-04-01 11:15] alexbech commented on #130
Also having the same issue trying to upgrade from 3.3.5 to 3.4.8:

`Integrity constraint violation: SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '2020' for key 'PRIMARY'`

[2019-04-01 11:22] RyanRoberts commented on #130
Had the exact same problem, thankfully it was just one entry I could remove from the db and continue with a successful migration. Basically it was falling over at the simplemap db record :(

[2019-04-01 14:04] Tam commented on #149
Closing this, dupe of #141.

[2019-04-01 14:04] #149 closed, assigned to nobody

[2019-04-01 14:58] #130 closed, assigned to nobody

[2019-04-01 14:58] #144 closed, assigned to nobody

[2019-04-01 14:58] #148 closed, assigned to nobody

[2019-04-01 14:59] Tam commented on #147
Fixed in 3.4.9

[2019-04-01 14:59] #147 closed, assigned to nobody

[2019-04-01 14:59] Tam commented on #146
Disabled in 3.4.9

[2019-04-01 14:59] #146 closed, assigned to Tam

[2019-04-01 16:43] vandres commented on #141
Just as a comment: The Map field should respect "translation method"

[2019-04-01 18:16] tomdeleu commented on #140
I have the same exception when trying to upgrade to the latest version. Any thoughts on how to solve it?

[2019-04-02 09:39] sebastian-lenz opened #150 "Upgrade from 3.3 to 3.4 fails"
### Description

Upgrade from 3.3.5 to 3.4.9 fails due to a sql error.

### Steps to reproduce

The migration `m190226_143809_craft3_upgrade.php` is run on my installation. The function `_upgrade3` gets called which loads the old maps data from the database, drops the tables and tries to rewrite them. When inserting the rows back in the script creates an instance of `MapElement` and saves it (http

[2019-04-03 02:55] richhayler opened #151 "Error Calling unknown method"
### Description
I am attempting to use this plugin for setting an address within the globals section of the control panel and getting this error when attempting to display the output on a site template.
If I use `{{ global.myMap.address }}` it outputs the full address including the city, state and postcode when I was just expecting the street address. When I attempt to use `{{ global.myMap.city }}

[2019-04-03 12:01] Tam commented on #151
You'll need to use `{{ global.myMap.parts.city }}` to get the city and any other address parts. See [Usage](https://github.com/ethercreative/simplemap#usage).

[2019-04-03 12:01] #151 closed, assigned to nobody

[2019-04-03 13:53] ghost opened #152 "Lock wait timeout exceeded; try restarting transaction"
### Description
I get this error when trying to save an entry with a map field
General error: 1205 Lock wait timeout exceeded; try restarting transaction
The SQL being executed was: UPDATE `craft_fields` SET `searchable`=1, `settings`='{\"lat\":15.342101,\"lng\":44.2005197,\"zoom\":15,\"country\":null,\"hideSearch\":\"1\",\"hideMap\":\"\",\"hideAddress\":\"1\",\"showLatLng\":\"\",\"hideLatLng\":nu

[2019-04-03 16:07] Tam commented on #152
I can't recreate this, what other plugins do you have installed and what database driver are you using?

[2019-04-03 21:44] ghost commented on #152
Element API
Field Manager
Guest Entries
Incognito Field
Minify
Redactor
Super Table

PHP version: 7.1.10
Driver is sql

i can't delete the entry, or the field or the section.
the search index table got marked as crashed too.

[2019-04-04 08:03] richhayler commented on #151
Thank you

[2019-04-04 09:13] #150 closed, assigned to nobody

[2019-04-04 09:18] Tam commented on #152
Can you try to save an entry and send me the stack trace from your web.log file?

[2019-04-05 16:58] davist11 opened #153 "Craft 2 > 3 Migration Error Integrity constraint violation"
### Description
I'm getting an error upgrading from a Craft 2 site

[code]

### Additional info

- Craft version: 3.1.21.1
- Maps version: 3.4.10
- PHP version: 7.1.23
- Database driver & version: MySQL 5.7.25
- Other Plugins:

[2019-04-05 17:34] davist11 commented on #153
Thanks for the speedy update, but I'm still getting the same error after updating to 3.4.11

[2019-04-08 14:29] davist11 commented on #153
Just wanted to flag :point_up: to make sure it was still noted (since the issue is closed)

[2019-04-10 14:29] Tam commented on #153
Sounds like you've got multiple records in your `craft_simplemap_maps` table for field ID 1, site ID 1, element ID 3. Could you check to see if this is the case?

[2019-04-10 15:55] davist11 commented on #153
I only see one record with `ownerId = 3`

![image](https://user-images.githubusercontent.com/199985/55894064-73060e00-5b87-11e9-8244-08cc6728b2d5.png)

[2019-04-10 16:04] Tam commented on #153
Can you send me a database dump? You can email it to dev@ethercreative.co.uk.

[2019-04-10 16:27] davist11 commented on #153
Sent, thanks!

[2019-04-10 17:01] Tam commented on #153
What's your upgrade process, because I was able to upgrade successfully by running the craft upgrade first then installing Maps?

[2019-04-10 17:42] davist11 commented on #153
With that DB backup

1. Run `./craft migrate/all`
1. Login to the CP
1. Install non-installed plugins (Maps is one of them)
1. See error that Maps couldn't be installed

[2019-04-11 08:58] Tam commented on #153
Could you try running the following:
1. `./craft migrate/all`
1. `composer require ether/simplemap`
1. `./craft install/plugin simplemap`

[2019-04-11 18:18] davist11 commented on #153
[code]

Then, if I visit the CP, the plugin is not installed

[2019-04-16 09:49] Tam opened #154 "Make parts accessible from the map element directly"
Support `{{ map.number }}` as well as `{{ map.parts.number }}`

[2019-04-16 15:42] Tam commented on #153
@davist11 Did you run those commands using your Craft 2 database, or after you'd upgraded to Craft 3? If you ran them after you'd upgraded to Craft 3, could you try running them on your Craft 2 database?

[2019-04-16 15:48] davist11 commented on #153
So to confirm, you want me to import my craft 2 DB, then run those commands? Wouldn't running `./craft migrate/all` run the Craft 3 upgrade?

[2019-04-16 16:04] Tam commented on #153
Yes, and yes. In your previous attempt it looked like you had already tried to upgrade Maps once so the second attempt failed.

[2019-04-16 17:34] davist11 commented on #153
Ok, different error this time

[code]

[2019-04-17 11:55] peteeveleigh commented on #141
Can confirm. The field will work on the default site but doesn't seem to work on entries for other sites in a multi site setup.

[2019-04-18 12:45] artsigns opened #155 "Can't install Maps after updating Craft 2 to Craft 3"
### Description
After updating Craft 2 to Craft 3 can't install Maps.

### Steps to reproduce

1. Install Maps
2. Settings > Plugins shows `Not installed`

### Additional info

- Craft version:3.1.23
- Maps version:3.4.11
- PHP version:7.1.6
- Database driver & version:MySQL 5.5.5
- Other Plugins: Anchors, Craft Commerce. Freeform Lite, Freeform Pro, ImageOptimize, Imager, Incognito Field, Minify,

[2019-04-18 14:56] Tam commented on #155
@artsigns Can you check your logs to see if there were any errors upgrading?

[2019-04-18 16:38] artsigns commented on #155
Here's what I get when I `./craft install/plugin simplemap` :
[code]

[2019-04-18 16:42] Tam commented on #155
@artsigns Make sure you're upgrading from your Craft 2 database, not re-running it on an already updated database.

[2019-04-18 16:46] artsigns commented on #155
@Tam How would I do that? I only have one map. Is there any way I can just clean out the plugin and do a clean install?

[2019-04-18 16:48] Tam commented on #155
If you only have one map, and don't mind manually transfering the data, you could uninstall the plugin in Craft 2, upgrade Craft, then re-install the plugin fresh in Craft 3 and re-add the data.

[2019-04-18 16:51] artsigns commented on #155
Is there any way of doing it post Craft 2 update because I've since migrated the rest of the site and set up all the other new plugins in Craft 3.

[2019-04-18 16:51] Tam commented on #155
You could drop the `craft_simplemaps` table. You shouldn't have an issues installing the plugin once that's gone.

[2019-04-18 16:53] artsigns commented on #155
How about `craft_simplemaps_maps`? This shouldn't have any effect on the remaining plugins or craft installation should it?

[2019-04-18 16:55] Tam commented on #155
It might do, worth deleting both just to be safe.

[2019-04-18 17:45] artsigns commented on #155
Ok, dropped both tables and got it working. Also had to delete the old field and make a new map field. So for Migration, the only way to go from Craft 2 to Craft 3 is to run the migration in Craft 2 before updating?

[2019-04-23 13:17] bryantAXS commented on #112
Any idea when this one is going to roll out? Looks like it has been implemented?

[2019-04-25 13:49] jamesmacwhite opened #156 "Zoom cannot be blank entry validation error when saving blank map field Craft 2 to Craft 3"
### Description

As part of a Craft 2 to Craft 3 migration, I have a content migration which resaves elements in bulk via the queue. The queue reported failures on certain entry types/entries with an entry valdation error:

[code]

After some investigation, I found that the simplemap field was causing the validation error with the following "Zoom cannot be blank". This is interesting as the zoom f

[2019-04-25 15:24] davist11 commented on #153
Just wanted to see if there was any update here or any other information I can provide.

[2019-04-28 06:49] LouWii opened #157 "Search with HERE throws Javascript error"
### Description
Search with Here maps throws a javascript error

I just updated from 3.3.x to 3.4.11, not sure if that could be part of the issue?

### Steps to reproduce

1. Use Here for map and geocoding
2. Search for a location within an entry in Craft control panel
3. Nothing happens
4. Browser console shows `Geo.js:208 Uncaught (in promise) TypeError: Cannot read property 'toUpperCase' of nul

[2019-04-29 12:55] MattWilcox opened #158 "[FR] Make the maps interface available for front-end forms."
We have a site with Members, who can edit their profiles through a front-end form. Those members need to add in addresses; and in exactly the same way that the UI is so helpful in the backend, it'd be just as useful on the front end.

[2019-04-29 13:11] alexjcollins commented on #158
Hi @MattWilcox - great suggestion! We actually have a whole bunch of updates and improvements in the works, specifically to boost the functionality of Maps on the front-end. Will let you know when something's available to play with.

[2019-05-01 10:57] shornuk commented on #158
We've used Maps since it was available in C3 and prior to 3.4 update we would just register the fields JS in the front end field like so...
[code]
This doesn't work in 3.4 onwards, presumably down the new Vue interface. Any easy way to accomplish something similar? We were thinking of doing our own front end map field, but might hold off if something is in the works?

[2019-05-08 14:59] jpeacock opened #159 "Address "live search" not working when using the "related" modal editor"
### Description
When double clicking an entry that's related, if that entry within the modal window has a Map in it, it doesn't allow for live address search.

### Steps to reproduce

1. Click on an "related entries" field to edit an existing entry or relate a new entry.
2. Type part of an address into the map address field. No results.

### Additional info

- Craft version: 3.1.24
- Maps version:

[2019-05-08 20:38] ljclark opened #160 "Map fields disappearing after save"
### Description

The Map and it's associated fields (search, address etc) are present on a new entry. When you save the entry, it's saving the location and rendering the map on the front end as expected.

However, if you try and edit that map data in the entry again, none of the inputs for the map field are visible.

There's this error in the console when you try edit the entry which I'm assuming

[2019-05-10 08:41] cole007 opened #161 "Preferred Country (field settings)"
### Description

The Preferred Country option in the Field Settings suggests that the chosen country takes precedence in results shown. However, since upgrading it looks like this restricts the responses only to the selected country.

Not sure if better to change functionality or wording on plugin but as an upgrade from Simple Maps it caught me/client out as functionality seems to have changed.

#

[2019-05-13 07:55] justjoolz commented on #112
I tried the dev version it and it doesn't seem to work :(

Anyone had any success importing data into a SimpleMap field?

[2019-05-15 10:55] Antimated commented on #141
Any updates on when this will be fixed? :)

[2019-05-22 16:43] jacobgraf opened #162 "State Abbreviation?"
Is there a way to get the state abbreviation instead of the whole thing? E.g. WI instead of Wisconsin.

[2019-05-23 07:39] alexjcollins commented on #162
@Tam Do you know if this is possible now we've standardised the `parts`?

[2019-05-24 08:53] stefangallas commented on #141
For a new project I came across the same bug. I would look forward to a bugfix, too. On the other hand, I have implemented a temporary workaround by adding the SiteId, under which the entries were originally entered, for the affected entry query .

[2019-05-30 09:15] codeartaus commented on #160
I'm also getting this issue, as well as a 404 for the file /cpresources/2ed3d3ff/js/apifetch.js

Did you find a fix for this one?

[2019-06-05 03:25] codeartaus commented on #160
I just found a fix for mine, it was another plugin causing a js error, that in turn was breaking the maps

[2019-06-06 17:24] jacobgraf commented on #160
I am having this same issue and it's definitely a frustrating one. Is there a fix on the way?

[2019-06-13 12:40] Tam commented on #159
I can't recreate this. What browser and geo service are you using?

[2019-06-13 12:42] Tam commented on #160
@jacobgraf Do you share any of the plugins @ljclark listed? The likely cause seems to be that another plugin is interfering with Maps' JS.

[2019-06-13 12:45] Tam commented on #161
@cole007 The functionallity of preferred country can differ depending on the Geo service you use. I've updated the instructions on the field to be a bit clearer and explain this better.

[2019-06-13 12:45] #161 closed, assigned to nobody

[2019-06-13 12:56] Tam commented on #162
@jacobgraf Currently there's no way to get a state abbreviation since the results aren't consistent across the Geo services we have available (and even within some of the services!)

I'll mark this as a feature request, as we might be able to manually add support for the states of certain countries.

[2019-06-13 12:59] jacobgraf commented on #160
Only Redactor is common between us.

[2019-06-13 13:05] jpeacock commented on #159
Chrome, Safari & FF on Mojave. Google maps for tiles and geo.

I made a quick screen recording of it:
https://www.dropbox.com/s/kxmzwxyynoo4jtd/simplemap-bug-demo.mp4?dl=0

Received this just when testing in Safari:
[code]

[2019-06-13 13:13] Tam commented on #158
It will be possible (in the next release) to use:
[code]
But bare in mind that the field requires some Craft specific JS, so will include all the CP JS and CSS. I'll mark this as a feature request so in the future we can look at uncoupling the field from Craft's JS.

[2019-06-13 13:27] #112 closed, assigned to nobody

[2019-06-13 13:27] #153 closed, assigned to nobody

[2019-06-13 13:27] #156 closed, assigned to nobody

[2019-06-13 13:27] #157 closed, assigned to nobody

[2019-06-18 15:24] jlachancekffein opened #165 "Js errors on field creation"
### Description

Several javascript errors occur when creating a field in the admin.

1. You have included the Google Maps JavaScript API multiple times on this page. This may cause unexpected errors.

2. Uncaught TypeError: Can not read property 'call' of undefined

Disabling the plugin fixes the problem.

The configuration of the plugin is:

Map: Google Maps: Roadmap
Geo-coding: Google Map

Erro

[2019-06-19 10:09] Tam commented on #165
@jlachancekffein Can you try disabling all other plugins to see if that fixes the issue? If it does, try re-enabling the other plugins one by one to determine which one is causing the issue. If not, are you using a module or other custom code that that could be injecting the Google Maps API?

[2019-06-19 13:54] Tam opened #166 "Add address & lat/lng from postcode support"
https://github.com/ethercreative/simplemap/blob/14a87407c2df933fa1de065ccfcf1bde2e478f98/src/services/MapService.php#L350-L370

[2019-06-19 14:10] jlachancekffein commented on #165
@Tam
I did what was asked. I disable all plugins and activate them one by one.

Then I disabled all customs modules.

The js errors appears only when the simpleMap plugin is enabled.

So it's not related to another plugin or a module.

This is an old project that used an old version of the simpleMap plugin (about 3 months). Is it possible that an asset build problem is causing this problem?

Thank

[2019-06-20 12:04] #166 closed, assigned to Tam

[2019-06-21 14:06] shornuk opened #167 "Parts that were available pre 3.4 no longer work"
### Description
Been running maps for a while and I'm just testing the update to the new version. Mostly it's all fine, however the old `parts` that were available pre 3.4 no longer work. I thought they were meant to?
The data is there in `parts` in the database, all the new parts work but they old ones give
[code]

### Additional info
- Craft version: Latest
- Maps version: Latest

[2019-06-23 14:09] elfacht commented on #165
I have the same error, but on existing fields and only when the field is inside and opened entry modal:

![Screenshot 2019-06-23 um 16 06 55](https://user-images.githubusercontent.com/529443/59977434-29975d80-95d1-11e9-8951-a59d8a87f0b9.jpg)

[2019-06-23 19:32] elfacht commented on #165
And: Resaving entries inside this modal will break the field and output:

![Screenshot 2019-06-23 um 21 29 41 Kopie](https://user-images.githubusercontent.com/529443/59981031-70e81300-95fe-11e9-93e3-6e92919272ae.jpg)

LABOR was resaved, the entry above HOPS & BARLEY not.

[2019-06-24 07:45] elfacht commented on #160
@codeartaus Would you mind sharen the plugin with us which was causing the error?

[2019-06-24 07:53] elfacht commented on #160
I'm getting this error:

`You have included the Google Maps JavaScript API multiple times on this page. This may cause unexpected errors.`

Saving an entry without entering a location into the maps field will break the output. So I have to re-enter the location on every save. Frustrating. Especially in combination with this issue: https://github.com/ethercreative/simplemap/issues/165#issuecomment-

[2019-06-24 21:28] clarknelson commented on #167
this broke my website and my client was not happy

[2019-06-24 21:34] mmikkel commented on #141
I started on a PR to fix this issue, but it proved too time-consuming. I did implement a working hotfix though – Maps are implemented as a custom Element type, so by listening to the `Elements::EVENT_AFTER_SAVE_ELEMENT` it's possible to "manually" propagate a Map being saved to all other supported sites.

[Here's the code](https://gist.github.com/mmikkel/23910270590aa560604ef3cf2eff0f50) – this sh

[2019-06-25 09:44] PieterxJan opened #168 "Duplicate error on second FeedMe execution"
### Description
When I try to import an address into a Maps field for the first time (when the entry does not exist yet), there is no problem. Everything goes as planned. But when I try to do it for the second time, with **Update existing elements** checked in FeedMe, I get the following error:

[code]

Which is correct, because that entry indeed exists already. But I'd expect the plugin to recogn

[2019-06-26 08:02] harispepic opened #169 "Undefined index: postcode"
### Description
After I have searched for an address and want to save the page, I receive the following message

![Bildschirmfoto 2019-06-26 um 09 59 34](https://user-images.githubusercontent.com/25743047/60162104-21ba0200-97f9-11e9-922e-848482115d68.png)

The postal code is not filled in by typing in the address field.

### Steps to reproduce

1. Search address
2. Save in CP

### Additional info

[2019-06-26 08:36] alexjcollins commented on #169
Would you be able to share the address you're searching?
Also, what Geocoding service are you using? (Nominatim, Mapbox, Google Maps or Here)

[2019-06-26 08:38] harispepic commented on #169
Hi @alexjcollins, thanks for your help!

The address I was searching was Zürich and I'm using Google Maps.

[2019-06-26 08:42] alexjcollins commented on #169
Thanks for the speedy reply, I'll take a look and get back to you

[2019-06-26 15:52] #110 closed, assigned to nobody

[2019-06-26 15:52] #117 closed, assigned to nobody

[2019-06-26 15:52] #139 closed, assigned to nobody

[2019-06-27 14:58] philipboomy commented on #169
Your fix fixed the problem. Thanks for quick fix.

[2019-06-27 15:02] #169 closed, assigned to nobody

[2019-07-10 12:46] bliswebagency opened #170 "Craft 3.2 update -"
### Description

Unable to re-save entries with Map field data after update to Craft 3.2

### Steps to reproduce

1. Create entry with Map Address field with a Matrix field
2. Edit and attempt to re-save Entry
Error > Database Exception – yii\db\Exception
Can not move a node when the target node is root.

### Additional info

PHP version | 7.2.19
-- | --
Linux 3.10.0-714.10.2.lve1.5.12.el7.x86_64

[2019-07-10 13:37] nilsenpaul opened #171 "Craft 3.2.0: Map field looses content after publishing draft on existing entry"
### Description
After saving ('update entry') an entry with a Maps field, the contents of the field are gone.

### Steps to reproduce

1. Create a maps field
2. Create an the entry, save it, change the Maps field's content, save it again. The content is gone.

### Additional info

- Craft version: 3.2.0
- Maps version: 3.5.2
- PHP version: 7.0.33

[2019-07-10 13:42] elfacht commented on #160
For me this bug disappears after updating Craft to 3.2

[2019-07-10 13:43] elfacht commented on #165
This bug still occurs in Craft 3.2

[2019-07-10 13:48] alexjcollins commented on #165
@elfacht Does the error only exist when editing the entries in the 'Quick Edit' view? If you edit the entry directly is it ok?

[2019-07-10 14:02] elfacht commented on #165
@alexjcollins Right now, after updating to 3.2, it seems that the error only occurs in the quick edit view. Editing it directly works since then. Before the update #160 happened.

[2019-07-10 14:06] jacobgraf commented on #160
Works fine in 3.2 for me too! 🎉

[2019-07-12 04:54] codeartaus commented on #171
Also having this issue on a few sites
--
Craft version: 3.2.1 (Happening on 3.2.1 too)
Maps version: 3.5.2
PHP version: 7.1.25

[2019-07-12 12:27] alexjcollins commented on #170
Hey, just to let you know we're currently working on a fix and trying to get it out asap 🏃

[2019-07-12 12:28] alexjcollins commented on #171
Working on this I write this, should be an update for you soon(ish)!

[2019-07-12 12:29] nilsenpaul commented on #171
Thanks @alexjcollins!

[2019-07-12 15:14] #141 closed, assigned to nobody

[2019-07-12 15:14] #168 closed, assigned to nobody

[2019-07-12 15:14] #170 closed, assigned to nobody

[2019-07-12 15:14] #171 closed, assigned to nobody

[2019-07-13 07:54] bliswebagency commented on #170
Thanks so much for your prompt update.  Fix has worked and issue resolved.  Much appreciated.

[2019-07-13 10:21] alexjcollins commented on #170
@bliswebagency glad it all worked. Thanks, @Tam for the hard work on this release 🔥

[2019-07-15 07:25] bhashkar007 opened #172 "Filter by City"
### Description
I have a search form which is filtering users by city (Map field). I tried to achieve it like:
[code]
But it's not working.

Could you please guide.

### Additional info

- Craft version: 3.1.28
- Maps version: 3.4.11
- PHP version: 7.1.10
- Database driver & version: 5.0.12

[2019-07-15 09:59] elfacht commented on #160
Aaaaand it happens again after updating to 3.6.0

[2019-07-15 10:00] elfacht commented on #165
@alexjcollins It happens again after update to 3.6.0: either direct edit or quick edit will empty the fields after saving the entry without explicit using the map search field.

[2019-07-15 12:45] ljclark commented on #160
Upgrading to C3.2 and Maps 3.6 has made Maps complete unusable for me now. I don't even get the maps field or input on a brand new entry! Any update on this?

[2019-07-15 20:06] mikemccarron opened #173 "Database Exception while upgrading to 3.6.0"
### Description

When upgrading to version 3.6.0 the update fails with the follow SQL error: `SQLSTATE[42S22]: Column not found: 1054 Unknown column 'content.field_mapLocation' in 'field list'`

### Steps to reproduce

1. Run updater via CraftCMS backend or run `composer update` after updating version value to 3.6.0

### Additional info

- Craft version: 3.2.2
- Maps version: 3.5.2
- PHP version:

[2019-07-16 17:01] peteeveleigh commented on #173
I think I have the same problem. I was unable to update with Map installed.
I removed the field which allowed me to update Craft.
Now trying to install Map 3.6 but it's failing silently. I'm currently looking at the logs to see if there's an indication of why it won't install.

[2019-07-16 17:08] PaulCWoods commented on #173
I’m getting the same issue and the same error as the OP. Upgrading to 3.6 broke the site. I’ve reverted to 3.5.2 in the meantime, which, of course, means entries with the map field won’t save.

[2019-07-17 05:30] alexjcollins commented on #173
Sorry for the issues everyone, naturally our migration, update and install tests all worked on the sites we tested on 😔.
@fantasticmachine did you find anything useful in your logs by any chance?

[2019-07-17 07:29] peteeveleigh commented on #173
@alexjcollins Couldn't really see anything at all in the logs tbh. I'll have another look.

[2019-07-17 08:00] peteeveleigh commented on #173
@alexjcollins  Looks like it's throwing an error during the migrations relating to the maps table already existing.
I've tried deleting the table but get the same error. So my guess is that it's being created then another migration tries to create it again.
Digging further.

Seems that it's running the install migration multiple times, finding the maps table exists and trying to rollback but can't

[2019-07-17 09:41] alexjcollins commented on #173
@fantasticmachine Thanks so much for taking the time to look into this; I really appreciate it! @Tam who is lead on the development of this plugin is on annual leave today but will be back in tomorrow, and we'll try and get a fix out for everyone.

[2019-07-17 11:35] peteeveleigh commented on #173
@alexjcollins My problems could be related to a really tricky update path. I had a ton of issues updating this site to Craft 3.2 so it's entirely possible that they are the cause of this problem rather than there being something wrong with the plugin itself.

[2019-07-17 13:54] mikemccarron commented on #173
I have a pretty standard implementation of the _Maps_ field type, one instance in a Group. I do however have a fairly robust collection of other field types including a complex _Matrix_ field type. There are no _Maps_ in there though.

[2019-07-18 12:51] handplant opened #174 "Can't save entry with map field"
### Description
After saving, the following error message appears:

[code]
in /vendor/ether/simplemap/src/fields/MapField.php
Line: 212

### Steps to reproduce

1. Create Entry with Maps field
2. Save Entry

### Additional info

- Craft version: Craft Pro 3.2.4.1
- Maps version: 3.6.0
- PHP version: 7.2.14
- Database driver & version: MySQL 5.5.5

[2019-07-18 13:50] dbig commented on #160
Similar for me - a new install of SimpleMap 3.6 into C3.2.4.1 results in entered address not searching/saving.  Empty address fields when entry opened after saving.

[2019-07-18 14:11] Tam commented on #172
You can use the location param to filter by city:

[code]

If you know you're only going to be searching for cities in a specific country, you can set the country param to that countries ISO Alpha-2 code.

[2019-07-18 14:11] #172 closed, assigned to nobody

[2019-07-18 14:13] Tam commented on #173
@mikemccarron Did you run the database migrations before getting this error?

[2019-07-18 14:18] Tam commented on #155
It's good practice to update to the latest minor version before updating the major version. Closing this since it seems like your issue is solved.

[2019-07-18 14:18] #155 closed, assigned to nobody

[2019-07-18 14:19] Tam commented on #152
@Sam-Black-0013 Have you had any luck with this?

[2019-07-18 14:22] mikemccarron commented on #173
@Tam I ran the update as described above. I didn't take any additional database migration steps.

[2019-07-18 14:30] Tam opened #175 "JS errors when editing in HUD using Google Maps"
`TypeError: "window.google is undefined"`

`You have included the Google Maps JavaScript API multiple times on this page. This may cause unexpected errors.`

`TypeError: e.geo is null`

[2019-07-18 14:31] Tam commented on #173
@mikemccarron When updating via the CP, did you see Craft run any database migrations?

[2019-07-18 14:55] mikemccarron commented on #173
@Tam No it doesn't appear to get that far. It errors right after checking server requirements. https://cl.ly/3b066e53a03d

[2019-07-18 15:19] Tam commented on #173
@mikemccarron After it's errored can you try manually running `./craft migrate`?

[2019-07-18 15:22] mikemccarron commented on #173
@Tam Sure. This was the output:

`Yii Migration Tool (based on Yii v2.0.21)
No new migrations found. Your system is up-to-date.`

[2019-07-18 15:24] Tam commented on #173
Is the latest version of Maps definitely installed or did Craft roll it back after the error? If it is installed, try `./craft migrate/all`.

[2019-07-18 16:13] KatieMFritz commented on #173
I had a database error that broke the site after upgrading to Maps 3.6.0 too. `./craft migrate/all` fixed it.

[2019-07-18 16:23] PaulCWoods commented on #173
`./craft migrate/all` fixed the issue for me too, after requiring 3.6.0

[2019-07-18 16:38] mikemccarron commented on #173
@tam I ran `./craft migrate/all` after running `./craft update all` and it said everything was up to date. I downgraded back to 3.5.2. I had a separate issue connecting to my local database `Can't connect to MySQL server on '127.0.0.1' (61) when trying to connect` which had been preventing me from backing up the database, so i changed the`DB_SERVER` in my `.env` to `localhost`. I ran `./craft upda

[2019-07-19 13:51] Tam commented on #159
Closing this as it's related to an older version of maps. There is a similar issue, that only affects Google maps, in the latest version. Tracked in #175.

[2019-07-19 13:51] #159 closed, assigned to nobody

[2019-07-19 15:00] #165 closed, assigned to nobody

[2019-07-19 15:00] #167 closed, assigned to nobody

[2019-07-19 15:00] #174 closed, assigned to nobody

[2019-07-19 15:00] #154 closed, assigned to nobody

[2019-07-19 15:00] #175 closed, assigned to Tam

[2019-07-19 15:01] #173 closed, assigned to nobody

[2019-07-19 15:02] Tam commented on #160
This should be fixed in 3.6.1.

[2019-07-19 15:02] #160 closed, assigned to nobody

[2019-07-19 19:51] craigplusplus opened #178 "Unable to upgrade to Maps 3.6.1"
### Description

We are currently running Craft 3.2.5. We attempted to upgrade SimpleMap 3.3.4 to Maps 3.6.1 and encountered the following exception:

[code]

Attached is a full log with more details.

### Additional info

- Craft version: 3.2.5
- Maps version: 3.3.4 -> 3.6.1

### Log

[web.log](https://github.com/ethercreative/simplemap/files/3412513/web.log)

[2019-07-19 20:09] stphnmartin opened #179 "Updated to 3.6.1 saving map causes internal service error"
### Description
Updated to maps 3.6.1. Saving a map results in an internal service error and the entry will not save.

From the web.log:

2019-07-19 13:39:56 [-][1][187550rnhq45gn7o9r8d6oned6][error][yii\base\UnknownPropertyException] yii\base\UnknownPropertyException: Setting unknown property: ether\simplemap\models\PartsLegacy::postal_code_suffix in /vendor/yiisoft/yii2/base/BaseObject.php:163

[2019-07-19 21:17] keyurshah commented on #178
getting the same error when trying to upgrade. thanks!

[2019-07-20 09:42] shornuk opened #180 "3.6.1 Migration error when 'location' column already exists in content table"
### Description
Migration seems to fail. Error seem to indicate that it's because I already have a column named `field_location` which is presumably what the plugin is trying to create?

[2019-07-21 13:45] engram-design commented on #179
Seeing a similar error:

`Setting unknown property: ether\simplemap\models\PartsLegacy::0`

[2019-07-23 09:28] bartrylant opened #181 "First parameter must either be an object or the name of an existing class"
### Description
I have a page with a maps field, called "location". I want to check if the location field is filled in, however, from the moment `entry.location` is _somewhere_ in the template (doesn't matter where, even if it is in an _if_ statement), I get this error:

First parameter must either be an object or the name of an existing class

Example code:

[code]

### Additional info

- Craft v

[2019-07-23 10:46] Tam commented on #179
@stphnmartin @engram-design What geocoding service are you using, and what addresses are you searching for?

[2019-07-23 11:05] engram-design commented on #179
All just the defaults.

Also got another issue about the content table column not being large enough - for some reason it was a `VARCHAR` instead of `TEXT` - I assume that's just something on our end gone wrong?

[2019-07-23 11:09] Tam commented on #181
@bartrylant Can you post any stacktraces related to the error (either from your web.log file or the template error screen)?

[2019-07-23 11:10] Tam commented on #179
Yeah, that's fixed in the next release. To confirm, you're using Nominatim for geocoding?

[2019-07-23 11:14] engram-design commented on #179
Sorry, just checked - Google Maps, with valid API Keys. Only solution was to ditch all fields settings in project.yaml and re-save the field.

[2019-07-23 11:32] #178 closed, assigned to nobody

[2019-07-23 11:32] #179 closed, assigned to nobody

[2019-07-23 11:32] #180 closed, assigned to nobody

[2019-07-23 12:02] vandres opened #182 "3.6.2 broken when no SuperTable installed"
### Description
<img width="1113" alt="Bildschirmfoto 2019-07-23 um 14 00 27" src="https://user-images.githubusercontent.com/1436383/61710666-65e5e700-ad52-11e9-8034-e98534c9010c.png">

### Steps to reproduce

1. Update with no SuperTable plugin
2. Call website

### Additional info

- Craft version: latest
- Maps version: 3.6.2
- PHP version: 7.2.x
- Database driver & version:
- Other Plugins:

[2019-07-23 12:12] vandres commented on #182
Possible fix: `$superTableBlockTypes = $pc->get('superTableBlockTypes', true) ?? [];`

[2019-07-23 12:16] bartrylant commented on #181
[code]

[2019-07-23 13:21] bymayo commented on #178
@Tam Thanks for fixing this but I am now getting the error when the migration tries to run:

[code]

[2019-07-23 13:25] elfacht opened #183 "Setting unknown property: PartsLegacy::country_short after updating to 3.6.2"
### Description

After updating to 3.6.2 the templates throws this exception:

[code]
The property is not used in any way in the template. It doesn't occur on every entry page, but on older entries.

I'm using this code which immediatly causes the exeption:

[code]

This error happens in `3.6.1`, too. Rolling back to `3.6.0` works.

[2019-07-23 13:38] elfacht commented on #183
This error happens in 3.6.1, too.

[2019-07-23 13:47] sebastian-lenz commented on #182
Also fails if there are no matrix blocks defined.

[2019-07-23 14:41] MattWilcox commented on #182
+1 to this; had a mild heart attack just when everything everywhere resolved in nothing but this error page. Forntunately a nuking of the /vendor folder, pushing composer.json back to 3.6.1, and running composer install again got me back to a working state of affairs.

[2019-07-23 16:38] d--j commented on #182
Also: `$blockType['fields']` does not need to be present (if you have a matrix block with no fields) – guard against that, too.

[code]

[2019-07-23 17:05] #182 closed, assigned to nobody

[2019-07-23 17:05] #183 closed, assigned to nobody

[2019-07-23 17:05] #181 closed, assigned to nobody

[2019-07-23 17:07] d--j commented on #182
Hi @Tam

this is not completely fixed with 5c35311

The migration also breaks when there are Matrix fields/SuperTable fields that do not have any sub fields (e.g. a "horizontal ruler" matrix block)

[2019-07-23 17:58] jdsimcoe opened #184 "Internal Server Error trying to Upgrade to 3.6.2.1"
### Description

I get an Internal Server Error when trying to upgrade to `3.6.2.1` from version `3.6.1`:

[code]

### Steps to reproduce

1. Try to upgrade from the CP or command line.
2. Observe above error message when trying to do so.

### Additional info

- Craft version: 3.2.6
- Maps version: 3.6.1
- PHP version: 7.3.4
- Database driver & version: MySQL 5.7.25

[2019-07-24 09:01] #184 closed, assigned to nobody

[2019-07-24 09:16] rungta opened #185 "Migration error when upgrading from 3.6.1 => 3.6.2.1"
### Description

Getting the following migration error:

[code]

### Steps to reproduce

1. Install version 3.6.1
2. Enable the plugin
3. Update to 3.6.2.1
4. Run `./craft migrate/all`

### Additional info

- Craft version: 3.2.6
- Maps version: 3.6.1
- PHP version: 7.1.19
- Database driver & version: MySQL

[2019-07-24 09:45] Tam commented on #185
Fixed in 3.6.2.2

[2019-07-24 09:45] #185 closed, assigned to nobody

[2019-07-24 11:18] samuelbirch opened #186 "minZoom"
It would be great to be able to specify the min zoom level for the fieldtype use in the CP.

I need a min zoom level of 2, but it's currently set to 3.

[2019-07-24 12:45] tomdeleu commented on #180
I'm having the same issue, when trying to update from 3.5.2 to 3.6.2.2.

Any thoughts?

Full error:
[code]

[2019-07-24 15:00] ademers commented on #180
I'm also having this issue on when attempting to update from 3.5.2 to 3.6.2.2 via Composer on Craft 3.2.6.

[code]

[2019-07-24 20:20] keyurshah opened #187 "Column already exists error when upgrading"
### Description
received this error.  thank you for looking into it.

One of Maps’s migrations failed.

Database Exception: SQLSTATE[42S21]: Column already exists: 1060 Duplicate column name 'field_map_mapCenter'
The SQL being executed was: ALTER TABLE matrixcontent_contentbuilder ADD field_map_mapCenter text

Migration: ether\simplemap\migrations\m190712_104805_new_data_format

Output:

1. Creati

[2019-07-25 10:07] engram-design commented on #153
Also seeing this issue on a Craft 2 upgrade. Have also followed the steps:

[code]

[2019-07-25 10:14] engram-design commented on #153
Diving into it, is seems that in `m190226_143809_craft3_upgrade.php` there's this code:

[code]

Which these values are all correct and populated. However, looking at `models/Map.php`, there's the following code:

[code]

Which strips out the important information like ownerId, etc before passing to the parent constructor. As you can see, using a print statement, showing:

[code]

Is that all corr

[2019-07-25 11:28] MattWilcox commented on #187
I too am getting a similar error...

Database Exception: SQLSTATE[42S21]: Column already exists: 1060 Duplicate column name 'field_map_map'
The SQL being executed was: ALTER TABLE c3_matrixcontent_mixedcontent ADD field_map_map text

Migration: ether\simplemap\migrations\m190712_104805_new_data_format

Output:

1. Creating Maps content columns
- Create content column for Map in matrix map

The SQL

[2019-07-25 11:51] ademers commented on #187
I'm having the same issue: https://github.com/ethercreative/simplemap/issues/180#issuecomment-514669465

[2019-07-25 12:45] #187 closed, assigned to nobody

[2019-07-25 12:45] #186 closed, assigned to nobody

[2019-07-25 14:34] keyurshah commented on #187
Thanks for the fix, but I'm now receiving this error now:

[code]

[2019-07-25 14:35] ademers commented on #187
3.6.3 solved the issue for me. Thanks!

[2019-07-25 16:29] MattWilcox opened #188 "Another impossible to install update"
### Description

Get this error trying to run the update:

Database Exception: SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'c3_content' at line 1
The SQL being executed was: ALTER TABLE c3_matrixcontent_mixedcontent CHANGE field_map_map field_map_map c

[2019-07-25 16:41] cakleimeier opened #189 "SQL Syntax Error during migration after updating to 3.6.3"
### Description
When running the `./craft migrate/all` command, I get the following error when the migration runs for a Maps field inside a Matrix:

[code]

Note that the handle of the Matrix field is "itinerary," the handle of the block is "day", the handle of the Maps field is "dayAddress", and the name of the Maps field is Location (Address).

### Steps to reproduce

1. Update Maps via composer

[2019-07-29 09:14] sebastian-lenz opened #190 "Migration runs on every request"
The plugin currently runs the latest migration on every request right in the init function, please see:

https://github.com/ethercreative/simplemap/blob/v3/src/SimpleMap.php#L48

I don't think this is intentional and looks like some accidentally commited test code. Furthermore, running a migration right here causes errors cause other plugins have not initialized yet and the migration cycles throug

[2019-07-29 14:21] sebastian-lenz opened #191 "Dragging the map marker around does not update lat/lng"
The map marker in the preview is draggable (at least when using Google Maps). However, dragging the marker around does not update the latitude / longitude data.

[2019-07-30 12:01] Tam commented on #191
@sebastian-lenz I can't re-create this. How is your field setup and is the address changing correctly?

[2019-07-30 12:09] #188 closed, assigned to nobody

[2019-07-30 12:09] #189 closed, assigned to nobody

[2019-07-30 12:09] #190 closed, assigned to nobody

[2019-07-30 13:11] harispepic opened #192 "Error during migration after updating to 3.6.4"
### Description
When running the ./craft migrate/all command, I get the following error when the migration runs for a Maps field inside a Matrix:

`- 1 Creating Maps content columns

     add column field_mapLocation text to table {{%content}} ... done (time: 0.260s)
- 2 Creating new Maps table

The SQL being executed was: CREATE TABLE `craft_maps` (
        `id` int(11) NOT NULL AUTO_INCREMENT PR

[2019-07-30 13:22] Tam commented on #192
@harispepic What other plugins do you have installed?

[2019-07-30 13:24] harispepic commented on #192
Hi @Tam

Following Plugins are installed:

Activity Log	1.0.1
Contact Form	2.2.5
Contact Form Templates	1.0.1
Element API	2.5.4
Entry Instructions	1.0.4
Expanded Singles	1.0.7
Feed Me	4.1.1
Field Manager	2.1.0
GeoMate	v1.0.6
Investment	1.0.0
Maps	3.5.2
Migration Manager	3.0.21
Navigation	1.1.13
Redactor	2.3.3.2
SEO	3.6.1.1
Super Table	2.2.1
Typogrify	1.1.18
XML Sitemap	1.0.9

[2019-07-30 15:08] sebastian-lenz commented on #191
Hi, sorry, completely our fault, the Google API key we've used was stale. Keep up the great work!

[2019-07-30 15:08] #191 closed, assigned to nobody

[2019-07-31 11:27] chromadesign opened #193 "Database error on fresh install"
### Description
Error message saying "SQLSTATE[42S22]: Column not found: 1054 Unknown column 'content.field_map' in 'field list'" right after installing. "./craft migrate/all" doesn't help.

### Steps to reproduce

1. Upgraded a Craft 2 install to Craft 3 (site running fine after upgrade)
2. Installed plugin from the plugin store.

### Additional info

- Craft version: 3.2.8
- Maps version: 3.6.4.

[2019-08-01 09:01] bymayo commented on #192
I've also had this issue on 2 other Craft 3 builds. It seems to create the table in the database, but then throw the error. Is it trying to create the table in another migration or something similar?

I tried to figure out at what version this errored from when upgrading to 3.6.4.1 by doing:

3.3.4 > 3.4.0
3.4.0 > 3.5.2
3.5.2 > 3.6.0
3.6.0 > 3.6.4.1

But I didn't get the error!

But going straight

[2019-08-01 09:21] domstubbs opened #194 "Migration incompatibility with allowAdminChanges = false"
### Description

I’ve just upgraded from 3.5.2 to 3.6.4.1 and everything went smoothly in dev and staging envs, but our production deployment task failed while running migrations.

After temporarily enabling admin changes the migration completed the second time around. It looks as though the call to `$pc->set()` was the issue. I’m not sure if this is something that can be addressed at plugin level

[2019-08-01 13:03] Tam commented on #192
Thanks for pointing me in the right direction @bymayo!

[2019-08-01 13:04] Tam commented on #193
@chromadesign Was Simplemap installed on the Craft 2 version of the site, or was it added new to the Craft 3 version?

[2019-08-01 13:09] chromadesign commented on #193
It was installed, yes. Which is why I thought the migrate command would help.

[2019-08-01 13:18] Tam commented on #194
This should be fixed in the next release, assuming the update is run first in an environment that allows admin changes.

[2019-08-01 13:21] Tam commented on #193
Can you share the entire stack trace for the error from your `web.log` file?

[2019-08-01 13:21] bymayo commented on #192
@Tam No worries! Thanks for the speed fix!

[2019-08-01 14:46] #192 closed, assigned to nobody

[2019-08-01 14:46] #194 closed, assigned to nobody

[2019-08-03 01:07] its-me-mario opened #195 "Error when upgrading 3.5.2 > 3.6.4.2"
### Description
I'm getting this error when trying to upgrade from 3.5.2 to 3.6.4.2 from the console.
[code]

Also, running `./craft migrate/all` doesn't help.

### Steps to reproduce

1. run `./craft update simplemap` from console

### Additional info

- Craft version: 3.2.8
- Maps version: 3.5.2
- PHP version: 7.1.26
- Database driver & version: MySQL
- Other Plugins:
[code]

[2019-08-05 07:49] chromadesign commented on #193
It seems to have fixed itself somehow. When I tried installing it again today, it worked fine!

[2019-08-05 07:49] #193 closed, assigned to nobody

[2019-08-05 16:08] mattrothenberg opened #196 "Map Field Doesn't Appear"
### Description
The `Map` field doesn't seem to render anything. It's as if the `<simple-map />` web component isn't rendering at all.

<img width="714" alt="Screen Shot 2019-08-05 at 12 04 57 PM" src="https://user-images.githubusercontent.com/5148596/62478705-b6f5d200-b779-11e9-9ca5-e49807836ebe.png">

I noticed this as soon as I upgraded to Craft 3.2 and added the webperf plugin.

<img width="70

[2019-08-05 16:28] mattrothenberg commented on #196
After a conversation on Discord, this appears to be related to the Webperf plugin.

[2019-08-07 16:24] khalwat commented on #196
Webperf author here. I eliminated the `bootstrap` error, it was unrelated to this issue, and doesn't fix the problem.

I use webpack to build the asset bundles for Webperf, and initially I thought it might have been some odd conflict of having more than one VueJS loaded, but that appears to not be the case.

I'm happy to help narrow it down with you folks if you're game!

[2019-08-19 20:34] dwhoban commented on #196
@khalwat just setup a new project and got the same issue.  Do you need anything to help close this out?

[2019-08-22 11:36] harispepic commented on #192
@bymayo Thanks for the fix but it didn't helped out.
I'm getting a new error

Database Exception – yii\db\Exception
SQLSTATE[42S22]: Column not found: 1054 Unknown column 'content.field_mapLocation' in 'field list'
The SQL being executed was: SELECT `users`.`password`, `elements`.`id`, `elements`.`fieldLayoutId`, `elements`.`uid`, `elements`.`enabled`, `elements`.`archived`, `elements`.`dateCreate

[2019-08-24 14:28] khalwat commented on #196
I do -- I'm not sure what could be causing this. Perhaps you can diagnose on your end? Webperf continues to operate property, it's the Maps field that stops working if Webperf is installed and the sidebar is shown (which loads the Webpack bundles).

[2019-08-28 10:18] MattWilcox opened #197 "Error 3.4.4 -> 3.6.4.2"
### Description

Try to install update. Complete and utter loss of Craft for the entire project.

SQLSTATE[42S22]: Column not found: 1054 Unknown column 'content.field_rowTextMap_map' in 'field list'
The SQL being executed was: SELECT `elements`.`id`, `elements`.`fieldLayoutId`, `elements`.`uid`, `elements`.`enabled`, `elements`.`archived`, `elements`.`dateCreated`, `elements`.`dateUpdated`, `elem

[2019-08-28 13:25] #152 closed, assigned to nobody

[2019-08-29 11:26] MattWilcox commented on #197
The fix I found was to go into my Matrix field (called Rows) which contains a BlockType called "Row: Text & Map" which contains a field of type Map - then re-save the Matrix field (no changes made).

The front end then seems to work.

[2019-08-30 12:48] alexbech opened #199 "Error when upgrading 3.5.2 > 3.6.*"
### Description
I'm getting this error when trying to upgrade from 3.5.2 to 3.6.0 (or any 3.6.* version)
[code]

Also, running ./craft migrate/all doesn't help.

### Steps to reproduce

1. run `composer update ether/simplemap`
2. refresh the control panel

### Additional info

- Craft version: 3.1.32
- Maps version: 3.5.2
- PHP version: 7.2.20
- Database driver & version: MySQL 5.7.26
- Other Plug

[2019-09-03 08:36] harispepic opened #201 "Search index failed to update"
### Description
Hi, I have 1744 search indexes jobs to update but since simplemap isn't longer an element type craft isn't able to finish all jobs.

I always get the error -> Class 'ether\simplemap\elements\Map' not found

### Steps to reproduce
1. Try to execute search index jobs

### Additional info

- Craft version: 3.3.0.1
- Maps version: 3.6.4.3
- PHP version: 7.1.30
- Database driver & versi

[2019-09-03 21:34] missmatsuko opened #202 "Any way to disable panning animation?"
### Description
When we search for an address, it takes a few seconds for the map to pan/zoom from wherever it was to the location of the searched address. The feedback time seems too long and I don't think the animation is necessary for a CMS field. Can the animation be removed or at least sped up?

[2019-09-03 21:39] missmatsuko opened #203 "Smaller map layout"
### Description
When editing a map field in the CMS, the map is quite large and it can sometimes be hard to tell the search field, map, and address fields are related to each other.

Any way to add a version of the field with a smaller map? Maybe search and map on the left side and the rest of the address fields on the right side?

[2019-09-03 21:55] missmatsuko opened #204 "Search field vs. full address field"
### Description
I think the "search" field and "full address" fields can be confused for each other due to the layout of the field.

Maybe the search field should have a label like the rest of the fields, and the map look more like a sub-item of the search field? [Rough mockup](https://user-images.githubusercontent.com/17884198/64211331-b4f75f80-ce5a-11e9-9c5a-1ebf6e96ef18.png)

Also I think it'd

[2019-09-04 12:29] Tam commented on #201
@harispepic Make sure you have run all the update migrations. If any of those tasks were created before you updated the plugin you can safely cancel them, either by using the [Queue Manager](https://plugins.craftcms.com/queue-manager) plugin or by deleting their rows from the `queue` table in your database.

[2019-09-04 12:29] #201 closed, assigned to nobody

[2019-09-05 04:58] paradigm314 opened #205 "[FR] Support lat,long pair in CraftQL Query"
## Description

At the moment searching entries using CraftQL only supports passing an address for location like so:

[code]

Unfortunately this doesn't support the, in my opinion, more common use case of searching by lat and long which the ElementQuery does support.

## Possible Solutions
Since GraphQL doesn't support union types for InputTypes yet and the `MapQuery` InputType has location as a S

[2019-09-05 09:56] harispepic commented on #201
@Tam Thanks, it worked for me!

[2019-09-06 20:21] j-greig commented on #195
Same issue here

[2019-09-10 08:53] joshuabaker commented on #195
We’re also stuck at `3.5.2` on a couple of sites.

The problem originates at [this `dropIndex` call](https://github.com/ethercreative/simplemap/blob/3b5c8709e814ac538f76d5589a124e261b56853e/src/migrations/m190712_104805_new_data_format.php#L234) due to foreign key constraints.

[2019-09-13 13:24] Tam commented on #199
@alexbech Can you send a copy of your database to dev@ethercreative.co.uk?

[2019-09-13 13:24] Tam commented on #195
@its-me-mario Can you send a copy of your database to dev@ethercreative.co.uk?

[2019-09-13 20:48] paradigm314 commented on #205
@Tam Awesome solution! 👍

[2019-09-15 19:54] alexbech commented on #199
Nope sorry - I don’t have a copy anymore.
I ended up uninstalling the plugin before removing all fields and manually deleting any references in the db.
I then installed the latest version of Maps and re-added my fields. Seems to be working now :-)

[2019-09-15 19:59] alexbech commented on #199
No I'm sorry - I don’t have a copy of the _"broken state"_ anymore.

I ended up uninstalling the plugin before removing all fields and manually deleting any references to Simplemap/Maps in the db.

I then installed the latest version of Maps and re-added my fields. Seems to be working now :-)

[2019-09-17 09:56] #199 closed, assigned to nobody

[2019-09-17 12:42] #197 closed, assigned to nobody

[2019-09-17 14:50] Tam commented on #195
@j-greig @joshuabaker Could you guys send us your databases as well?

[2019-09-17 15:05] j-greig commented on #195
Don't think we can send you a full database dump for GDPR reasons (Craft Commerce project)... what else would help?

[2019-09-20 12:59] joshuabaker commented on #195
@Tam Sorry but we have the same issue re GDPR. At present, there’s not comprehensive or easy way to anonymise a database dump from Craft.

We actually managed to run a migration without running into this. Restoring the database from production and running the migrations to the latest stable went without issue. Perhaps, at least in our case, it was a database state issue.

[2019-09-20 19:37] its-me-mario commented on #195
A version of the database was emailed.

I was able to work around the issue by uninstalling the plugin and manually removing the old DB table when I reinstalled but that resulted in some lost data. We have about 5 other sites that I would rather not have to go through that process. 😄

[2019-09-25 09:16] paul-frost opened #206 "Update from 3.4.11 to 3.6.4.3 database exception"
### Description
I have run update from the control panel and composer update ether/simplemap from the CL and get the same result:
Database Exception – yii\db\Exception
SQLSTATE[42S22]: Column not found: 1054 Unknown column 'content.field_locationMap' in 'field list'
I tried running ./craft migrate/all but no effect.

I'm assuming that field_locationMap should have been created in the content table

[2019-09-25 17:08] kringkaste opened #207 "Database Migration Exception 3.3.5 => 3.6.4.3"
### Description
When updating the plugin from version 3.3.5 => 3.6.4.3 we get a database exception:

[code]

### Steps to reproduce

1. composer update ether/simplemap
2. craft migrate/all

### Additional info

- Craft version: 3.1.34.3
- Maps version: 3.6.4.3
- PHP version: 7.0.33
- Database driver & version: 5.6.10
- Other Plugins:
    "codemonauts/craft-asset-autoversioning": "^1.0",
    "craft

[2019-09-26 08:50] j-greig commented on #195
We arrived at the same solution @its-me-mario - luckily we only had 2 instances of the map to put back in :)

[2019-09-26 14:12] kringkaste commented on #207
Hey, just an update to this issue: We were able to update your plugin to version 3.5.2 on Craft ~3.1. Then we updated to Craft ~3.2 and tested again. The same error occurs. Then we updated to Craft ~3.3 and tested again. Same error again.

So we are now on Craft 3.3.5 and Map 3.5.2.

[2019-09-27 06:28] OscarBarrett opened #209 "[FR] Support built-in GraphQL API"
It doesn't look like there is any documentation on how to do it yet, but Verbb have managed to do it for [their Super Table plugin here](https://github.com/verbb/super-table/tree/craft-3/src/gql).

[2019-09-27 08:52] bhashkar007 commented on #158
Please let me know if this feature is available now because I can't see in doc. Also, what will be values for `optionalMapValue`

[2019-10-10 08:41] stefanmf commented on #206
I am facing the exact same problem, updating from the same versions (3.4.11 to 3.6.4.3). Any help much appreciated.

Craft version: 3.1.29
PHP version: 7.2.16
Database: MySQL 5.7.19

Other plugins:
Ansel for Craft 	2.1.2
CP Field Inspect 	1.0.5
Expanded Singles 	1.0.7
Feed Me 	4.1.0
Field Labels 	1.1.2
Field Manager 	2.1.0
Imager 	v2.1.10
Knock Knock 	1.1.0
Maps 	3.4.11
Neo 	2.3.5
oEmbed 	1.1.6
Po

[2019-10-14 15:42] Tam commented on #158
@bhashkar007 We don't have a clean way to output a map field on the front-end yet, but you can use the Twig shown above as a temporary way of doing it.

The `optionalMapValue` is a Map field, i.e. `getInputHtml(entry.myMapField)`.

[2019-10-14 17:08] Tam commented on #209
GraphQL is coming in the next version.

[2019-10-14 17:08] #209 closed, assigned to nobody

[2019-10-15 09:36] Tam commented on #206
@paul-frost @stefanmf Could you share the full stack traces from the errors?

[2019-10-15 16:23] #196 closed, assigned to nobody

[2019-10-15 16:23] #195 closed, assigned to nobody

[2019-10-15 16:23] #202 closed, assigned to nobody

[2019-10-15 16:23] #203 closed, assigned to nobody

[2019-10-15 16:23] #205 closed, assigned to nobody

[2019-10-15 16:23] #207 closed, assigned to nobody

[2019-10-15 16:27] Tam commented on #204
Improved in 3.7.0

[2019-10-15 16:27] #204 closed, assigned to nobody

[2019-10-15 20:34] johnwbaxter opened #211 "Upgrading from Craft 2 -> 3 and installing this gives migration error for creating maps table"
### Description

I have upgraded from Craft 2 which used the Craft 2 version of this plugin to Craft 3. I'm now trying to install the plugin but it keeps failing.

### Steps to reproduce

1. Upgrade existing Craft2 site using this plugin to Craft 3.
2.  Try to install this plugin

### Additional info

- Craft version: 3.3.9
- Maps version: 3.6.4.3
- PHP version: 7.2
- Database driver & version: My

[2019-10-16 09:15] stefanmf commented on #206
sure, here is a stack trace:
[code]

[2019-10-16 09:40] alexjcollins commented on #211
Hey @johnwbaxter

Could you try updating to the latest version [3.7](https://github.com/ethercreative/simplemap/releases/tag/3.7.0) and see if the issue persists? We updated a few things in that release that aim to fix some migration issues.

[2019-10-16 10:46] johnwbaxter commented on #211
Hey @alexjcollins i have tried that but now getting this:

[code]

[2019-10-21 21:39] jacobgraf opened #212 "Address Formatting (USA)"
When searching and selecting a location, we are finding the fields to be confusing. In my experience, an address in the USA should be something like this...

Name: Location name
Address: 123 Wood Ave.
Address 2: Suite 536
City: Nekoosa
State: WI
Zip: 53450

I am guessing this is a localization issue but when you search and select a location in the US, the location is essentially formatted like thi

[2019-10-22 13:16] siebird opened #213 "Multiple markers"
Is it possible to have multiple markers per `craft.maps.embed`?

I'd like to loop through a `section` and plot those coordinates on a single map.

[2019-10-23 19:10] timkelty opened #214 "Search implementation breaks :notempty:/:empty:"
Normally you can filter empty/notempty in your query, eg:

[code]

[code]

But `MapServer::modifyElementsQuery` prevents this from working as expected.

[2019-10-24 09:27] Tam commented on #213
The `markers` option accepts an array of as many markers as you want (this goes for both static and embed maps):
https://docs.ethercreative.co.uk/maps/rendering/static/#markers

[code]

[2019-10-24 09:27] #213 closed, assigned to nobody

[2019-10-24 10:11] Tam commented on #211
@johnwbaxter Have you tried running the update more than once on the same database? It looks like parts of the upgrade were initially successful but are now failing since they already exist in the database.

[2019-10-24 14:11] alexjcollins opened #215 "Frontend embed not automatically assigning centre value"
[code]

The above embed, when used to output the value of a map field, throws an error
`Map center is missing!`

[2019-10-24 14:12] alexjcollins commented on #215
@ChristopherDosin you can track the issue here. 👍

[2019-10-24 14:23] ChristopherDosin commented on #215
If you're using `center: map.address` you're also getting the following console error
[code]
<img width="432" alt="Bildschirmfoto 2019-10-24 um 17 22 41" src="https://user-images.githubusercontent.com/8193345/67495084-00700200-f683-11e9-8180-0082ea8b3210.png">

[2019-10-24 14:57] #214 closed, assigned to nobody

[2019-10-24 14:57] #215 closed, assigned to Tam

[2019-10-24 15:53] timkelty commented on #214
woohoo, thanks @Tam!

[2019-10-28 10:08] johnwbaxter commented on #211
@Tam No, it fails first time.

[2019-10-30 09:20] johnwbaxter commented on #211
@Tam Any news on this one?

[2019-10-31 12:09] MarkOlijslagers opened #216 "sorting on distance doesn’t work using googme maps api"
### Description
Because the website (front+backend) gets really slow sometimes (using nominatim openstreetmaps and get cUrl errors) i changed the geocoding api to Google Maps.
When using google maps api, sorting on distance doesn’t work anymore. After sorting al distances results in 0 km/miles.

### Steps to reproduce

1. A valid google maps api key is installed
2. The example code of the docs is

[2019-10-31 20:53] siebird commented on #213
This still isn't working for me. Getting a few errors with your example code:

[code]

Which I had to actually use lat/long to center the map and render:
[code]

Which gives me only one marker at the center of the map. Returned `markers` array data below:

[code]

[2019-11-01 09:27] johnwbaxter commented on #211
@Tam Hello?

[2019-11-01 09:50] alexjcollins commented on #211
@johnwbaxter Are you able to send a copy of your database to dev@ethercreative.co.uk?

[2019-11-02 12:41] MarkOlijslagers commented on #216
After some more debugging, i found out the sorting on distance function is working fine, but the location search doesn't work for me with the google maps API key.

This search is working well:
[code]
{{ location.locatie.distance }} returns a good result

But search by city or address return in a zero distance:
[code]
{{ location.locatie.distance }} returns '0' for all entries.

When using Nominati

[2019-11-07 12:31] alexjcollins opened #217 "Non-saving addresses when using Nominatim"
### Description
Via email support:

[2019-11-07 12:32] alexjcollins opened #218 "Mapbox forbidden"
### Description
Via email support:

[2019-11-08 15:16] #217 closed, assigned to nobody

[2019-11-08 15:18] Tam commented on #216
@MarkOlijslagers Have you enabled the Places API and Geocoding API on your Google Maps API key?

[2019-11-14 15:55] ghost opened #219 "[FR] Add 'current location' button to field"
### Description

I'm building a system that will be used on mobile devices 'in the field' to add/update some location entries. Ideally the user needs to tap a location button that centres the map on the current device location (if they accept the pop-up).

Is this possible to add-in? I guess it would use the [Geolocation API](https://developer.mozilla.org/en-US/docs/Web/API/Geolocation_API)

### A

[2019-11-14 16:18] ghost opened #220 "Can't move the location marker on mobile"
### Description

Added a Map field to my Entry. When viewing on a mobile (Chrome, Android) the layout wraps nicely, but I can't find a way to move the marker to a new location. The map only scrolls if I 'grab' it from the right-hand side.

### Steps to reproduce

1. Edit an entry on mobile

### Additional info

- Craft version: 3.3.15
- Maps version: 3.7.1
- PHP version: 7.3
- Database driver & ve

[2019-11-14 16:20] ghost commented on #220
With a bit more testing, if I use the right-hand margin to slowly scroll the map over, once the marker is in this section, I can move it. Seems like there is a layer above stopping access.

[2019-11-18 13:57] alexjcollins opened #221 "Ability to disable plugin styles when using embedded maps"
Plugin users may want the ability to define map element styles whilst using the Maps Pro template rendering.

[2019-11-19 05:33] ChristopherDosin opened #222 "Field size mini - Overflow bug"
### Description
If you're using the mini field, the popup overlays the screen ( 15" Retina ) if you want to create an entry.

<img width="1094" alt="Bildschirmfoto 2019-11-19 um 07 26 25" src="https://user-images.githubusercontent.com/8193345/69119181-6f802100-0a9e-11ea-897d-d408f3745693.png">

### Steps to reproduce

1. Add a new map field with the Mini field size setting

### Additional info

-

[2019-11-19 13:21] #220 closed, assigned to Tam

[2019-11-19 13:21] #221 closed, assigned to nobody

[2019-11-19 13:21] #222 closed, assigned to nobody

[2019-11-20 21:35] siebird commented on #213
Finally got this working. With `3.7.2` fixes, I had to update the markers to a hash object instead of array and now it's working properly.

[code]

@Tam I'd maybe add an example for this in the docs for others

[2019-11-21 10:11] Pautomagi opened #223 "429 Too many request when running migration (3.4.8 -> 3.4.11)"
### Description
Im running an upgrade from 3.3.3 to latest as an end goal here.
Currently been going upwards from 3.3.3-3.3.5-3.4.0-3.4.8-3.4.11

The migration failed on duplicates up until 3.4.11 so the migrations running now is from that release. It ran fine for a while but now its getting a 429 too many requests from openstreetmap.
I guess this is being used in the migration to validate some da

[2019-11-21 10:14] Pautomagi commented on #223
Coming to look at this, could it be if I set my GeoService to gmaps/mapbox where ive got a license/apikey that this would run as it should using that service?
(more rhetorical than anything, ill check back when ive tried this)

[2019-11-21 10:19] Pautomagi commented on #223
Can confirm that setting the GeoService in `simplemap.php` to something ive got a key to fixes the 429 issue.

[2019-11-21 10:19] #223 closed, assigned to nobody

[2019-11-26 23:12] samhibberd opened #224 ".count() & paginate query performance issue"
### Description

We are running into up to 40 second query execution time when using a standard craft entry query with either the paginate tag or a count() query. The odd thing is that we currently only run into the issue when also querying using the `relatedTo` parameter. I have spent the day trying to eliminate bad coding our end, but can't pinpoint anything that might be causing this.

Site is

[2019-11-27 10:03] alinistrate opened #225 "Static map image generation not functioning properly"
### Description
- When trying to generate a static image map with markers I am getting an error.
- We commented out the marker part and when trying to generate the static image there is white background not really the map.

### Steps to reproduce

1. Just include the static embed anywhere and you will see that is not functioning properly...

### Additional info

- Craft version: latest
- Maps vers

[2019-11-29 14:46] Tam commented on #224
Count queries often, paradoxically, take longer than simply querying the data since they have to loop over every row in the database. With MySQL you _might_ be able to improve it by using `.count(1)`, but you're probably better off counting the `.ids()` (not that that's possible if you're using `paginate`).

Does the issue only occur when using both `location` and `relatedTo` in tandem?

If you're

[2019-11-29 14:49] Tam commented on #225
Can you share the stacktrace of the error?

[2019-11-29 14:52] Tam commented on #206
@stefanmf From your stacktrace it looks like the `CP Field Inspect` plugin is causing the issue. Does the issue persist if you disable that plugin?

[2019-12-02 14:08] samhibberd commented on #224
Hi @Tam thanks for the feedback, I will email over my debugging progress.

The scenario which consistently causes it for me, is when using `location` and `relatedTo`s across more than one category group.

[2019-12-03 13:34] Tam commented on #224
Thanks for the db dump @samhibberd. Just released 3.7.4 which should vastly improve the query speed!

[2019-12-03 13:34] #224 closed, assigned to nobody

[2019-12-03 13:44] samhibberd commented on #224
Great work, initial testing show 44s to 53ms ⚡️⚡️⚡️⚡️⚡️⚡️

[2019-12-03 20:54] timkelty opened #226 "Make less GeoService Calls, and/or make them optional"
I'm getting `429 Too many requests` exceptions, as you call `GeoService` methods in the field's `normalizeValue` method, which means it will be called whenever accessed.

Some options to fix this:

- only do this on save
- introduce some kind of option to disable this
- catch the rate limit exceptions

In my case, I'm migrating lots of data _to_ this map field, so I have lots of data that has addr

[2019-12-04 11:52] #219 closed, assigned to nobody

[2019-12-04 11:52] #226 closed, assigned to nobody

[2019-12-04 11:55] Tam commented on #226
Added the `disablePopulateMissingFieldData` config option in 3.7.5. Set it to false to prevent your Geo service being called when normalizing map data.

[2019-12-04 12:22] timkelty commented on #226
Thanks @Tam!

[2019-12-04 13:18] ghost commented on #219
Thank you so much. That works great! :thumbsup:

[2019-12-11 20:45] briancnoble opened #227 "Error upgrading from version 3.5.2 to 3.7.5 Exception: Undefined offset"
### Description
Error occurs on **Step 3 Moving existing maps content**
Logs
[code]
### Steps to reproduce

1. run composer require new version
2. go to site admin
3. immediately see SQL column not found error
4. run `craft migrate/all`

### Additional info

- Craft version: "3.3.15"
- Maps version: "3.5.2"
- PHP version: "7.1"
- Database driver & version:  5.7.27-0ubuntu0.18.04.1
- Other Plugins:

[2019-12-11 21:00] antistatic opened #228 "Leaflet Map not rendering"
### Description
Using Maps Pro 3.7.5 in Craft CMS 3.3.18.1 some addresses in the "Full Address" field do not generate a Leaflet map. We've investigated and confirmed that the addresses are correct. There is no odd formatting in the addresses. Some times they work and a map is generated and displayed other times a gray box is shown where the map should be. Inspecting the page shows a "Uncaught Type

[2019-12-11 22:27] johnwbaxter commented on #211
@alexjcollins Sorry for late reply. No, cannot send copy of DB for GDPR reasons. I can't even uninstall the plugin now, it's going to cause me a lot of grief :(

[2019-12-11 22:30] alexjcollins commented on #211
@johnwbaxter sorry to hear that :(
What error do you get when you try to uninstall it?

[2019-12-11 22:34] johnwbaxter commented on #211
@alexjcollins  Sorry, I take that back, I can uninstall, but then I can't re-install. I think it hasn't properly uninstalled.

I get this error:

[code]

[2019-12-11 22:36] alexjcollins commented on #211
@johnwbaxter Thanks for sharing. We'll see what we can do with this and get back to you.

[2019-12-11 22:39] johnwbaxter commented on #211
Thanks @alexjcollins

[2019-12-12 18:52] vandres opened #229 "Using SimpleMap Lite in Craft Pro"
### Description

I don't know if this is a SimpleMap issue and I am sorry if this is more like a support ticket. I recently updated one of my installations to Craft Pro where SimpleMap was installed. Now the Backend is complaining, that I need to buy a license for SimpleMap Pro, but I just want to use the Lite version. How can I enforce the Lite Version?

[2019-12-12 21:38] alexjcollins commented on #229
@vandres It should be as simple as going to the Maps listing on the plugin store from within your site, scrolling to the bottom and clicking `Install` on the Lite Version.

<img width="1075" alt="Screenshot 2019-12-12 at 21 38 12" src="https://user-images.githubusercontent.com/12031196/70751142-b4a71400-1d27-11ea-84b1-6d385d5dffaf.png">

[2019-12-12 21:40] vandres commented on #229
Thank you very much!

[2019-12-12 21:40] #229 closed, assigned to nobody

[2019-12-17 15:59] Tam commented on #227
@briancnoble Can you email a database dump to dev@ethercreative.co.uk? Also, am I correct in thinking you're using MySQL?

[2019-12-17 18:23] briancnoble commented on #227
Yes we're use MySQL.  No problem giving you a DB dump.  Would you be willing to sign an NDA?

[2019-12-18 10:12] jonXmack opened #230 "deg2rad() expects parameter 1 to be float, string given"
### Description
I'm putting together a search on a site of ours which includes a location search. The user has the option to put in a postcode and distance, and the site searches events in that radius. I also have a bunch of other search parameters which can be set so I'm building an array to search by.

The code in question looks like this:

[code]
When I put a postcode into the search form it's

[2019-12-18 15:10] #227 closed, assigned to nobody

[2019-12-18 15:10] #230 closed, assigned to nobody

[2019-12-18 15:11] Tam commented on #227
@briancnoble I've pushed a fix for your issue. You also have an errant `maps` table in your database, you'll want to drop that before migrating.

[2019-12-18 16:29] alexhillel opened #231 "Filtering by string matching on location parts e.g. city/county"
Is there a way of string matching on the 'parts' of a location in an entry query, as if I was doing a query on a standard text field? I want to find all elements in a particular British county, but searching via the location and a radius is sometimes returning results in nearby counties which is being flagged as incorrect by our client.

[2019-12-30 14:53] roberttolton opened #232 "Database Exception: "Duplicate key on write or update" in m190712_104805_new_data_format"
### Description

Am running a dry-run of an update to a production site, locally. It is going from Craft 3.0.41.1 to Craft 3.3.15

Simple map is going from 3.3.5 to 3.7.2

Error:

[code]

### Steps to reproduce

1. Install Craft 3.0.41.1
2. Install Simple Map 3.3.5
3. Update Craft to 3.3.15 and Simple Map to 3.7.2 via Composer
4. Visit Dashboard to run migrations

### Additional info

- Craft vers

[2019-12-30 15:06] roberttolton commented on #232
Have also tried updating to the latest versions of everything, straight from a copy of my production environment via the Updates section of the Dashboard.

Migrations failed with a different error:

[code]

[2019-12-30 15:50] roberttolton commented on #232
I tried the comment within the update docs that mentioned running `craft migrate/all` but that also failed:

[code]

[2020-01-06 11:45] Tam commented on #228
Can you enable the latutude / longitude fields on the map field and let me know if they have any data in them? You can enable the fields by going to your map fields settings and checking the `Show Latitude / Longitude` option.

[2020-01-06 12:40] antistatic commented on #228
Hi Tam - I've enabled the latitude / longitude field and there is data in them but the map is still showing as a gray box on the front end.

[2020-01-07 14:10] mattrothenberg opened #233 "Array offset on value of type null"
### Description
Hello! I just bumped `simplemap` to `3.7.6` from `3.7.5` and immediately noticed the following issue when accessing a few different routes in my site (both from the CP and the public facing site)

![ENrqodoWkAAdHZ3](https://user-images.githubusercontent.com/5148596/71900926-cb753680-312c-11ea-9c5f-7c7c768ce595.jpeg)

This confuses me because everywhere I access `entry.address` (whe

[2020-01-09 20:14] antistatic commented on #228
Any update @Tam ?

[2020-01-15 13:26] bhashkar007 opened #234 "Getting wrong location while using using Feed Me"
### Description
I am developing a property website in which XML property files are being imported as property entries. The address / location field, I am using Maps plugin (Maps Lite). I am seeing that after running the feeds, address field is showing totally wrong location (even different country).

Please see screenshot for field mapping.

### Additional info

- Craft version: 3.3.14
- Maps vers

[2020-01-16 10:26] Tam commented on #228
@antistatic Can you share your template code?

[2020-01-16 10:27] Tam commented on #234
@bhashkar007 It looks like your screenshot didn't upload, could you re-attach it?

[2020-01-16 10:42] antistatic commented on #228
[code]

[2020-01-16 10:43] antistatic commented on #228
@Tam You I can create a user for you so that you can login and see the configuration if that is helpful. Message me and I'll set it up.

[2020-01-16 12:22] bhashkar007 commented on #234
![Screenshot 2020-01-15 at 6 37 10 PM](https://user-images.githubusercontent.com/1473647/72524882-dea0a880-3888-11ea-83d4-485cd4b7fd35.png)
Sorry, I missed in previous message. Please see here.

[2020-01-16 12:57] mattrothenberg commented on #233
Will you be cutting a release for this fix anytime soon?

Thanks!

[2020-01-17 05:08] bhashkar007 commented on #234
One more info - If I don't import "Full Address" then "Full Address" is being filled with different country. Please help.
![Screenshot 2020-01-17 at 10 35 51 AM](https://user-images.githubusercontent.com/1473647/72585812-78159c00-3915-11ea-853b-b43f77248dfd.png)

[2020-01-17 11:06] Tam commented on #234
Could you share a sample of the address data that you are trying to import for me to test with?

[2020-01-17 11:08] Tam commented on #228
@antistatic for now a link to the page that's erroring would be good. You can email it to dev@ethercreative.co.uk if you don't want it public!

[2020-01-17 11:10] Tam commented on #232
Could you email a copy of your database to dev@ethercreative.co.uk?

[2020-01-17 11:11] antistatic commented on #228
Thanks @Tam - I've emailed you a link to review

[2020-01-17 11:24] Tam commented on #228
It looks like it's failing to the lat/lng for that entry. Can you try clearing the map, saving the entry, then re-entering the address?

[2020-01-17 12:04] antistatic commented on #228
@Tam Just tested this and it didn't work. Looks like it is keeping the lat/lng in there somehow

[2020-01-17 12:20] Tam commented on #228
Could you email me a database dump? Are you using MySQL or Postgres?

[2020-01-17 12:58] antistatic commented on #228
Sent. Let me know if there is anything else that would be helpful in troubleshooting this

[2020-01-17 13:18] Tam commented on #228
That map is rendering correctly for me. Do you have any template caching that could be interfering with it?

[2020-01-17 13:20] antistatic commented on #228
No, no caches setup at this point

[2020-01-17 13:22] #233 closed, assigned to nobody

[2020-01-17 13:24] Tam commented on #228
Looking at the link you sent me, the map appears to be rendering correctly. Perhaps it was Crafts built-in template caching causing issues?

[2020-01-17 13:26] antistatic commented on #228
I was just testing that one. I removed all the field content, saved,
re-entered the data in the full address field and saved. It fixed this one,
but about half of those directory entires are experiencing the same
problem. I was able to fix a couple of them but not the rest.

Mark Wells
Antistatic, President
[Office] 937-985-3595
[Mobile] 937-267-6848

http://www.antistaticdesign.com

On Fri, Jan 1

[2020-01-17 13:26] antistatic commented on #228
I was just testing that one. I removed all the field content, saved, re-entered the data in the full address field and saved. It fixed this one, but about half of those directory entires are experiencing the same problem. I was able to fix a couple of them but not the rest.

[2020-01-17 13:27] antistatic commented on #228
Just cleared the caches in Craft and it did not help

[2020-01-17 23:05] sonoflee opened #235 "Update/reinstall fails with "Base table or view already exists: 1050 Table 'maps' already exists""
### Description
I previously had Maps 3.4 installed, but ended up disabling the plugin after some migration issues.  Just reenabled and tried updating, but ran into migration errors each time - always:
[code]

Next, I uninstalled, renamed the 'maps' table in the database, and tried installing the latest version (3.7.7) via CLI, which generated this:

[code]

Running CLI install a second time gives

[2020-01-20 15:44] roberttolton commented on #232
@Tam Unfortunately I don't have a copy from that time anymore, I ended up just uninstalling and re-installing.

[2020-01-21 14:41] #232 closed, assigned to nobody

[2020-01-22 11:21] bhashkar007 commented on #234
Sorry for delay in response. Could you please share your email. I 'd like to share dashboard access if you can help from there.

[2020-01-22 16:50] JustJarethB commented on #199
Hi @Tam I have a similar issue, I was attempting to:
 Updating ether/simplemap (3.4.11 => 3.6.4.3)
and came across the same SQL error. It looks as though the `craft_`field prefix is being ignored, and there is also no `field_location` in the `craft_content` table. Can you suggest how to proceed?
[code]

[2020-01-24 21:43] sonoflee commented on #235
I resolved this - the "Exception: SQLSTATE[23000]: Integrity constraint violation: 1022 Can't write; duplicate key" error was happening because I had renamed the old 'maps' table.  Since I didn't have any data I needed to keep, deleting 'maps' then reinstalling solved the issue.

[2020-01-24 21:43] #235 closed, assigned to nobody

[2020-01-29 12:40] ghost opened #236 "[FR] what3words integration"
### Description

We'd like to be able to set the location using a what3words address, and likewise be able to geocode existing entries to output the 3 word address in a template. Would it be possible to add this as an optional integration, with an extra setting for API credentials?

For example, if enabled the field would have an extra input that accepts a 3 word address (with or without the /// p

[2020-01-29 17:03] alexjcollins commented on #236
Hi Ant, this is a great idea and something we'll definitely discuss!

Would you prefer a dedicated field, or would you be happy with the search field returning w3w locations (if enabled in the plugin config, of course)?

It might also be interesting to include support for Auto Suggest, to catch typos https://developer.what3words.com/public-api/docs#autosuggest

[2020-02-10 21:31] mckelvey commented on #211
Any word on this since? I am performing essentially the same update:

Craft 2.6.3105 > 3.4.0
Simplemap 1.8.1 > 3.7

Using the [Craft Upgrade Guide](https://docs.craftcms.com/v3/upgrade.html#performing-the-upgrade) you’re starting from scratch and just copying in content, settings and DB. I hit the same error on first install and the same error if retried.

[code]

I installed simplemap first in th

[2020-02-10 22:05] mckelvey commented on #211
My post is non-rush. Thankfully I only had less than fifteen uses. My solution to get this working was to dump all data related to SimpleMaps, install SimpleMaps (having to delete the table `craft_maps` manually) and then re-run the install. Once installed, I was then able to re-create the fields and re-enter the data.

[2020-02-10 22:11] jamiehunt841 commented on #211
@mckelvey I had to carry out the same steps. Removing the craft_maps table, installing the plugin and then adding the data back in manually did the trick for me. This could really be a pain if a user had hundreds or more instances.

[2020-02-11 11:01] ghost commented on #236
Thanks for looking at this, it'd be awesome if you could do some work on it.

As long as there's a field where a user can paste or type the 3 word address then that'd be fine. Auto suggest would be really helpful here too.

When outputting the location on the front-end I'd like the w3w address to be included in the field data so it can be displayed without an extra API lookup.

Please let me know

[2020-02-11 17:24] FreekVR commented on #211
Also running into this issue.

It seems the issue is only occurring for translated map values, eg. multiple records in the old database table for the same record (but with a different language).

It seems that it's always trying to insert records with my default site (ID 1) instead of using the new site that was created by craft earlier. I'd guess it's failing somewhere in the `getSiteByLocale` fu

[2020-02-12 16:38] iparr commented on #211
I'm getting the same problems, 3.3.5 -> 3.7.7

~~Even if I uninstall the plugin, then manually remove all the tables, I then can't re-activate the plugin. I can install using composer, but it won't activate: "Couldn’t install plugin." when I hit the Install button in the dashboard.~~
I need to remove the 'map's table too.

[2020-02-13 17:49] antistatic commented on #228
This issue is still persisting. Any ideas @Tam?

[2020-02-14 12:47] tsawitzki opened #237 "Dragging the map marker around does not update lat/lng"
### Description

Dragging the marker on the map while editing an entry with a Map field does not update the lat/lng coordinates of the entry – it sticks with the address entered before.
I need updated ltn/lng coordinates as the simple street address is not sufficient or detailed enough in some use cases.
Wether I use OpenStreetMaps or Google Maps does not matter, it happens in both cases.
I have a

[2020-02-14 17:57] siebird opened #238 "FeedMe field mapping not working"
I'm having issues importing data into my maps field with FeedMe. Importing to plain text fields is working, however, Maps is not saving the data when viewing the entry.

[FeedMe Field Mapping](https://d.pr/i/jTFouX)

Craft 3.4.5 // Maps 3.7.7

[2020-02-20 11:33] rauwebieten opened #239 "Searching on parts"
### Description

Is this featured?
For both, searching in the admin, and for creating queries

In the admin, I can search on fulladress, not on parts:
see https://pasteboard.co/IVxZA8h.png

In my templates I want to do things like

[code]

### Additional info

- Craft version: 3.4.7
- Maps version: 7.3
- PHP version:"ether/simplemap": "3.7.7"

[2020-02-21 13:05] SophietjesCode opened #240 "adding adres via google search"
### Description
If you add an address by searching on a company name and then selecting the business from the suggestions in the application the fields: number, streetadress and postcode aren't correctly saved.

Number isn't added
Streetadress: there the town is added in the same entry
Postcode: isn't added

### Steps to reproduce

1. search for a business
2. select one from suggested dropdowns
3.

[2020-02-21 13:08] SophietjesCode commented on #240
The way to get around this bug is to add by hand the data afterwards in the full address field and seperate them by comma.

[2020-02-22 18:29] bavocorteville opened #241 "[FR] Get tokens from env file"
It would be nice and safer to store the map tokens in the env file as environment variables.

[2020-02-25 14:13] siebird commented on #238
More insight. FeedMe won't update a plain text field in an entry with a section that has a simplemap field assigned to it. Removing the simplemap field from that section allows FeedMe to update entries.

So something is blocking FeedMe from updating entries when a simplemap field is present.

[2020-02-25 16:04] #225 closed, assigned to nobody

[2020-02-26 10:43] #236 closed, assigned to nobody

[2020-02-26 12:06] Tam commented on #238
@siebird I can't recreate this. Could you email a database dump and the file you are trying to import to dev@ethercreative.co.uk?

[2020-02-26 12:08] ghost commented on #236
Thank you so much for implementing this. It works perfectly.

[2020-02-26 12:18] Tam commented on #240
Closing this as Maps currently doesn't support business names in addresses (since only Google really has this kind of data).

[2020-02-26 12:18] #240 closed, assigned to nobody

[2020-02-26 12:19] Tam commented on #239
It's not supported currently, but is on our list!

[2020-02-26 12:20] Tam commented on #237
@tsawitzki I can't re-create this. Are you getting any JS console errors or network errors?

[2020-02-26 12:21] Tam commented on #231
Closing this in favour of #239

[2020-02-26 12:21] #231 closed, assigned to nobody

[2020-02-26 12:40] siebird commented on #238
Just sent. Let me know if you need anything else?

[2020-02-26 13:08] Tam commented on #238
@siebird Importing worked fine for me (having created a test import using the feed file you sent, and adding the existing location field to the locations section). I did have to change the Mapbox API key, since that was causing errors (according to FeedMe's logs). It could be that your API key is invalid or being restricted.

[2020-02-26 15:25] siebird commented on #238
Looking at the logs I'm getting this error:

```GET https://api.mapbox.com/geocoding/v5/mapbox.places/-80.1394384,26.1662975.json?limit=1&types=address,country,postcode,place,locality,district,neighborhood&language=en&access_token=XXXX resulted in a 403 Forbidden response: {"message":"Forbidden"} - RequestException.php: 113.```

[2020-02-26 15:27] Tam commented on #238
I'd recommend re-generating your Mapbox token and ensuring it isn't domain locked and has access to their Geocoding services.

[2020-02-26 15:27] siebird commented on #238
It's odd. The maps are working on the frontend with the same keys? 🤔

[2020-02-26 15:37] Tam commented on #238
Most likely some kind of domain restriction then, where your server is sending a different domain to your front-end? It's hard to say without knowing what your setup is.

[2020-02-26 15:45] siebird commented on #238
I'll poke around

[2020-02-27 12:57] #241 closed, assigned to nobody

[2020-02-27 13:59] krizzzly opened #242 "Setting unknown property: ether\simplemap\models\Map::__placeId"
### Description

[code]
### Steps to reproduce

1. using Google Maps, Places, Geolocation with API Key
2. adding a maps field to a section
3. new entry, define address, the place gets found, error when saving the entry

### Additional info

- Craft version: 3.4
- Maps version: latest LITE
- PHP version: 7.2.22
- Database driver & version: MySQL
- Other Plugins:

[2020-02-27 14:08] krizzzly commented on #242
`vendor/ether/simplemap/src/models/BaseLocation.php:47` adding
[code]
fixes it for now.

[2020-02-28 10:04] tsawitzki commented on #237
The problem was the PHP version. Solved by upgrading to PHP 7.2

[2020-02-28 10:04] #237 closed, assigned to nobody

[2020-02-28 14:52] philipboomy commented on #242
Yeah I getting this too. The above fix works for me too.

[2020-02-28 16:49] krizzzly commented on #242
to store the placeId would be very handy. greetings.

[2020-03-02 08:33] jamesmacwhite opened #243 "Craft 2 SimpleMap field not migrated in matrix block"
### Description

Testing a Craft 2 to Craft 3.4 migration, the SimpleMap plugin installs and runs it's migrations without any issues, but it seems the migration doesn't handle Craft 2 Simple Map fields within a matrix block.

As a specific project example, I have a matrix field called body, within body is a map block and then within that block is a SimpleMap field. This doesn't appear to be picked

[2020-03-02 08:46] alexjcollins commented on #243
@jamesmacwhite Thanks for letting us know. I'll chat with the team but I would say it's unlikely we'll be doing further work on 2 → 3.x migrations at this stage.

[2020-03-02 08:48] jamesmacwhite commented on #243
@alexjcollins No worries. I can write a content migration for our specific project, so not a deal breaker, but just thought I'd highlight it for reference.

[2020-03-02 18:04] jdsimcoe commented on #242
I'm still getting this bug. Is a fix for this forthcoming?

[2020-03-03 15:41] adamhenretty commented on #242
The "fix" didn't fix for me. I can however drag and drop the pin on the map in the desired location to save the entry, just not via the address search.

[2020-03-04 02:38] mattmesker commented on #242
I'm still getting this bug, too. Can we get a fix please?

[2020-03-04 09:53] JustJarethB commented on #243
I also have just run across migration issues.
    "craftcms/cms": "3.1.15",
    "ether/simplemap": "3.3.5",
@jamesmacwhite would you be willing to share your migration code?

[2020-03-04 10:20] #242 closed, assigned to nobody

[2020-03-04 10:30] krizzzly commented on #242
ok the bug is fixed, but how can i access the Place Id now ?

[2020-03-04 12:13] jamesmacwhite commented on #243
@JustJarethB Haven't looked into it in much detail yet, but I think it's because the Craft 2 upgrade migration isn't likely returning the matrix field in it's query performed here:

https://github.com/ethercreative/simplemap/blob/v3/src/migrations/m190226_143809_craft3_upgrade.php#L103-L143

I'll do some tests.

Edit: The query is picking up the matrix field, but it's not updating the type. More t